[2016-07-30 21:22] elaineo opened #1 "Summary of Immediate needs"
I went through the code and it's pretty bare, just looking up address/blocks/tx with web3 calls. So there's a lot of work to do. I'm starting this as a task list so we can organize what we're working on.

**Server**
- Miner stats
  - ID'ing miner from input data
- Contracts: View internal txs

**Client**
- Miner stats
  - Show Mined blocks/uncles ([similar to etherscan](http://etherscan.io/address

[2016-07-30 21:40] madmanblues commented on #1
Count on me!

[2016-07-31 17:26] matthewjamesr commented on #1
@elaineo Added search field to the task list. As for the db, what are you thinking? Mongo?

[2016-07-31 18:46] elaineo commented on #1
Yeah, I was gonna go with Mongodb unless there are any objections.

[2016-08-01 06:39] whatsdis commented on #1
are there any alternatives to mongodb? is a SQL db out of the question?

[2016-08-01 06:56] elaineo commented on #1
geth uses LevelDB to store the blockchain, which is a key-value store, so SQL wouldn't make sense. I'm open to other NoSQL options though.

[2016-08-01 07:10] whatsdis commented on #1
Just a minor thing but based on postings on HN in the past, MongoDB hasn't got a stellar review from people using it in high scale production....but not sure how true that is I've never had to deal with high scale situations.

RethinkDB comes to mind seems to have real time stuff built in on their landing page https://www.rethinkdb.com/

[2016-08-01 08:06] elaineo commented on #1
I'm not familiar with any of those, I was just going with what would be quickest to get a db fully populated and running. If you want to do some research and let us know your recommendations that would be great!

[2016-08-01 16:39] whatsdis commented on #1
Let's use whatever will get us running quickest.

[2016-08-02 23:24] realcodywburns commented on #1
Im in, ill start digging around and see what i can work out UX/UI side.

[2016-08-03 03:50] whatisgravity commented on #1
Do you need funding for a server to host an example of the explorer? @arvicco May be willing to forward the DNS of explore.ethereumclassic.org too once the project surpasses the features of the existing open source explorer.

[2016-08-03 03:54] elaineo commented on #1
I have it hosted on an ec2 instance, the cost is no big deal for now. right now I'm just populating the db so there's some downtime.
@whatisgravity unrelated -- do you still need someone to fork and modify the python client?

[2016-08-03 04:32] whatisgravity commented on #1
It was just started by a new volunteer today, I have not investigated the project so I'm not sure how much has been done. Were you thinking about using that client to interface with the network? From what I understand Parity preforms well in benchmarks.

[2016-08-03 04:48] elaineo commented on #1
No, I use geth, I haven't tried Parity. Just asking about the py clients, since I thought they had not been accounted for.

[2016-08-03 05:19] whatisgravity commented on #1
There are two components to the pyclient, pyethereum has been started, more details can be found in the volunteer thread. If you are able to, it would be nice to have others help.

[2016-08-03 06:06] masonicGIT commented on #1
+1 for avoiding mongoDB, its a bit difficult to deal with big ints. I'd recommend postgres.

If it helps, I'm happy to build javascript wrappers while I'm building this up https://github.com/masonicGIT/ethereum-api.

Would be great to plug into the database for better queries.

[2016-08-03 06:55] elaineo commented on #1
@masonicGIT I already have a good chunk of the blockchain in db so i'd rather just get something up and functional, and switch to psql later if this turns out to have limitations.

[2016-08-03 07:03] whatisgravity commented on #1
I'm not suggesting it is the best example for proper design or even secure design, but mongo does appear to be used in Mist.

They may have solved the issues with bigints. It may be worth researching the solution they used for this because it may be good. (https://github.com/ethereumproject/meteor-package-accounts/blob/master/accounts.js)

I just glanced over it but I believe they just converted i

[2016-08-03 07:22] kimisan commented on #1
@elaineo  @whatisgravity
I am about to design some d3.js chart module for ETC explorer, like hash rate distribution.
Ask for your recommendation.

[2016-08-03 10:42] gcmartinelli commented on #1
Guys, is this live? May I suggest it get's pushed even with limited features? We really need a block explorer even with the minimum specs (search, IMO).

[2016-08-03 11:37] whatisgravity commented on #1
@gcmartinelli Are you able to host a version? I believe they are basing it on an open source explorer which already exists but has very limited features.

[2016-08-03 12:03] julian1 commented on #1
why is a db needed? the state is maintained by the client - eg leveldb or whatever geth uses?

[2016-08-03 13:25] whatisgravity commented on #1
@julian1 LevelDB also being used by multiple processes would run into locking issues due to the nature of the DB.  Because of this and the fact there are better designed databases for the use case of a lot of reads and few writes expected from a web application.

[2016-08-03 17:35] elaineo commented on #1
Yes, I'm storing the bigints as strings in MongoDB.

Okay, sounds like there is pressing need for a better explorer. I'll pause the DB-syncing for a bit and get what we have up live today. It's unlikely that people will be searching through months-old transactions anyway.

@matthewjamesr @realcodywburns et al -- what are your thoughts on the front end? I think it could use an entire new face, thou

[2016-08-03 17:47] matthewjamesr commented on #1
@elaineo let's keep it angular and use materiaizecss to stay organized for styles. We can carry this framework through all of our ported web-apps, etc, to denote it is a ETC site.

[2016-08-03 19:20] whatsdis commented on #1
I'll be happy to take on Python work as well, please guide me to the right channel.

[2016-08-03 19:24] whatisgravity commented on #1
@whatsdis Check out https://github.com/ethereumproject/pyethereum

[2016-08-03 19:57] elaineo commented on #1
@kimisan so we'll have data like this: https://etherchain.org/statistics/miners
It may be helpful to have a chart like this: https://etherscan.io/charts/hashrate

[2016-08-03 20:15] kimisan commented on #1
@elaineo , wow! got it!
I will prepare a D3.js chart moduel for this explorer.
But where I can commit and  push the code, new folder of this repo or new repo ?

[2016-08-03 20:41] elaineo commented on #1
Same repo, do a pull request. You can just have it be a standalone page for
now, I'll provide an endpoint for the data.

On Wed, Aug 3, 2016 at 1:15 PM, Kimi Sian-yu Chen <notifications@github.com>
wrote:

[2016-08-03 21:08] masonicGIT commented on #1
@elaineo - If you have the ability to do a tx list for an account or to view internal transactions it would be great to have access to those :-)

[2016-08-03 21:17] kimisan commented on #1
@elaineo  Ok, got it. For the hashrate chart, api of https://etherchain.org/statistics/miners , it only show currently hashrate, not a time-series dataset/array.  I will keep push/record hashrate data to my mongodb server.

[2016-08-03 21:48] elaineo opened #2 "Visualizing Stats & Data"
Feel free to add requests, etc
- Miner hash rate distribution

[2016-08-03 22:16] elaineo commented on #2
Thread on API endpoints for mining pool data (this is more a note to myself, the server should probably fetch and store these).

https://www.reddit.com/r/EthereumClassic/comments/4w0flf/request_for_api_endpoint_info_for_etc_mining_pools/

[2016-08-03 23:15] elaineo commented on #1
These are the API endpoints that the server currently supports. See app.js for data format.

app.post('/addr', routes.addr);
app.post('/tx', routes.tx);
app.post('/block', routes.block);

BTW, so far I've been pushing all changes directly to master. I'm about to start changing client-side stuff to display transactions & info, so if anyone is working on the frontend, LMK and I'll do a PR for furthe

[2016-08-04 11:46] Empty2k12 commented on #1
Mobile layout looks like :poop:, will tackle that if someone tell me how the design should look/what the future plans for it are.

[2016-08-04 21:34] MaffeProg commented on #1
Any need for help here? I am able to help

[2016-08-04 21:50] elaineo commented on #1
Yes! @Empty2k12 @MaffeProg Basically I suck at front end stuff... there's a rough sketch of what probably needs to be made available in the dropdown menus here: http://blocks.elaineou.com/home

Right now I'm building the backend pieces and just dumping data onto the page, and it would be super helpful if someone could create front end templates that can receive data.

[2016-08-05 04:41] kimisan commented on #2
ok , http://www.epool.io/api/stats
this api is good, I will keep push it data to my mondodb server , hour to hour.
I start to design hash rate chart.

[2016-08-05 09:27] elaineo commented on #1
Okay, the block explorer is more or less functional now. The dropdown menus on the page don't actually work, but they represent a sort of TODO list for next tasks.

http://blocks.elaineou.com/home

[2016-08-05 10:01] Empty2k12 commented on #1
@elaineo I'm going to crunch some CSS now, improving the desktop size and hopefully making a accessible mobile site. Stay tuned!

[2016-08-05 10:54] Empty2k12 commented on #1
@elaineo I am in the process of fixing a couple CSS things with the layout. Here I have a screenshot of the overhauled Transactions History Box. Is this style something you like which I should continue?

![overhauled_txhistory](https://cloud.githubusercontent.com/assets/6954968/17434585/9073c196-5b0b-11e6-95d8-c159630110c7.PNG)

[2016-08-05 13:17] kimisan commented on #2
Hi @elaineo , sorry for that, for the http://www.epool.io/api/stats , this is not a standard api, it wrapped with HTML...
Can you give me a api about ETC hashrate ?

[2016-08-05 13:31] matthewjamesr commented on #2
@kimisan @elaineo I found that Minergate (I use their pools for mining for ease of use) has a API that will provide a lot good information.

You will use the **get blockchain info** method by calling `https://api.minergate.com/1.0/etc/status`.

[2016-08-05 13:33] matthewjamesr commented on #1
@Empty2k12 Good job on the box styling, thanks for cleaning up the overflow scrollbar.

[2016-08-05 13:36] matthewjamesr opened #3 "Response Times & Load Issues"
@elaineo I am starting to notice some performance issues with the explorer. Once in a while I am getting connection refused, slow load times, etc. Not sure if it the network I am using, you updating the codebase at the time I access, etc.

What infrastructure are we using? Is our Mongo instance on the same host or different?

Edit 1: I have also noticed that block/tx data is seemingly not loading.

[2016-08-05 13:46] kimisan commented on #2
@matthewjamesr Wow! it worked ! Thanks!

[2016-08-05 15:33] elaineo commented on #3
Couple of problems:
- right now database queries are slower than snail crap
- I was lazy and didn't do much in the way of error handling so it crashes

I'll work on performance issues later today, just wanted to get a basic framework out there as a springboard

[2016-08-05 15:35] elaineo commented on #1
@Empty2k12 Yep looks great! If you do a pull request I can merge it, or you can just push the changes.

[2016-08-05 16:02] Empty2k12 commented on #1
I will create a pull request when I'm done refining the front page. Which
specific feature needs a template most first? Will create that then.

On Fri, Aug 5, 2016, 17:35 Elaine Ou <notifications@github.com> wrote:

[2016-08-05 17:38] elaineo commented on #1
It's up to you. The current address/block/tx pages are a pretty ugly.

Next thing to do is add some fields to the address pages to support contract source/viewing/validation.

In the back, I'm working on making the db queries faster and add some error handling, then I'll build the libraries for the Contract Addresses

[2016-08-05 20:48] matthewjamesr commented on #1
@elaineo now that it is the weekend I can lend a hand either front or backend. What prominent need can I help with?

[2016-08-05 21:05] elaineo commented on #1
@matthewjamesr After I make the DB less crappy, I think the two biggest things are

- handling contract addresses
  - view internal txs
  - view/validate bytecode
- Miner stats
  - ID'ing miner from input data
  - Show Mined blocks/uncles ([similar to etherscan](http://etherscan.io/address/0x2a65aca4d5fc5b5c859090a6c34d164135398226#internaltx))

Though that's just my opinion, there may be more urg

[2016-08-05 21:20] elaineo commented on #3
is it better now? I rebuilt the indexes.

[2016-08-05 21:34] matthewjamesr commented on #3
Holy heck, great job! It screams now :). Closing this issue.

[2016-08-05 21:34] #3 closed

[2016-08-05 21:39] elaineo opened #4 "Get a domain name"
It's only at blocks.elaineou.com right now because it's fast for me to create a subdomain. This is obviously not a permanent home ;)

So, I'm happy to have some other domain name point to the server if anyone wants to pick a name.

[2016-08-05 21:42] matthewjamesr opened #5 "Hard-coded Address Data"
https://github.com/ethereumproject/explorer/blame/master/public/js/controllers/AddressController.js

Instead of setting the data in the view from `$scope.addrHash` values are hard-coded.

If you show me what the inside of a hash looks like I can fix this for us.

[2016-08-05 21:44] matthewjamesr commented on #4
What about something to the tune of:

* etccrawler.io
* etcscanner.io
* etc....

[2016-08-05 21:51] matthewjamesr opened #6 "Deploy Commit b985155"
# Deploy [commit](https://github.com/ethereumproject/explorer/commit/b985155a4b18c6425db3cce1e128189ece31cf55) to production server

### Move closing <a> tag
Moved </a> after `Classic Block Explorer`. Both the image and the text should be linked, not just the image.

---

*Please add a `Deploy` label so we can easily let you know to deploy a change.*

[2016-08-05 22:02] Empty2k12 commented on #4
- etcexplorer.io
- etcchain.io

[2016-08-05 22:04] matthewjamesr commented on #1
I have been comparing against gastracker and indeed our explorer is slacking in terms of quickly showing confirmed transactions. I am sure this is because of the in-development nature but I just wanted to make everyone aware.

[2016-08-05 22:13] elaineo commented on #1
@matthewjamesr It's true. I wasn't sure whether a web3 listener constantly updating with each new block would degrade performance too much. Maybe @splix can shed some light on this for gastracker?

[2016-08-05 22:20] matthewjamesr commented on #1
@elaineo I think a better way would just have a intermediary app synching geth data to mongo

1. geth rpc
2. synch app streams data from geth, mutates to what we want to actually retain, inserts into mongo.
3. Explorer removes web3 and just pings mongo.

Thoughts?

[2016-08-05 22:24] #6 closed

[2016-08-05 22:26] Empty2k12 commented on #1
@matthewjamesr also offering a WEBSOCKET API for different events would be good.

1. The Explorer could add new blocks when they are broadcasted to the networks (similar to the way blockchain.info-Explorer/API works)
2. Developer could tap in and create applications by using this abstraction from the blockchain (similar to (my service) https://txwat.ch/ which offers integration with the blockchain

[2016-08-05 22:28] matthewjamesr opened #8 "CircleCI Setup"
We should enable CI on our codebase. I am not sure how we have deployment to production setup currently but we should not leave pushing merged-PRs to production to a single point of failure.

I bring this up so we can operate more efficiently and push code changes quicker for endusers.

https://circleci.com/

[2016-08-05 22:29] matthewjamesr commented on #1
@Empty2k12 would be great but that should be a V2 feature :).

[2016-08-05 22:34] elaineo commented on #1
@matthewjamesr removing web3 makes sense for blocks, possibly also transactions, but for address info I think it's faster to get the balance via web3, rather than try to calculate it from all the txs.

[2016-08-05 22:34] Empty2k12 opened #9 "Setup a Slack to make development easier"
Right now all communication is done via #1 which is very messy. Slack allows channels to be created. This would enhance development

[2016-08-05 22:39] matthewjamesr commented on #9
We can use slack or telegram. You mean existing ETC slack? If you have link handy do share.

[2016-08-05 22:43] Empty2k12 commented on #9
@matthewjamesr Either there or a dedicated Slack for this project. Something like this https://github.com/outsideris/slack-invite-automation or https://github.com/rauchg/slackin could be used to get contributors onboarded!

[2016-08-05 22:50] matthewjamesr commented on #9
@Empty2k12 I have used Slackin before. Easy to setup and can just deploy to a heroku free instance. Let goto the main slack and create our own channel then.

[2016-08-05 22:54] Empty2k12 commented on #9
@matthewjamesr Link? :laughing:

[2016-08-05 22:57] elaineo commented on #5
not sure i understand the question.. what line numbers are you referring to?

[2016-08-05 22:58] elaineo commented on #9
can we connect it to this one? https://ethereumclassic.slack.com/messages/explorer/details/

[2016-08-05 22:59] Empty2k12 commented on #9
@elaineo Thats the one. Do you want to create a channel?

[2016-08-05 23:09] #9 closed

[2016-08-06 00:44] ealmansi commented on #5
@matthewjamesr In views/address.html, data is read from $scope.addr (not hard-coded).
This object is populated here (AddressController.js):
[code]

[2016-08-06 01:27] matthewjamesr commented on #5
@ealmansi great thanks I am new to angular haha. We need to get # transactions working and I am thinking about removing # mined unless we are planning to add a semi-official pool?

[2016-08-06 01:41] matthewjamesr opened #10 "Change ETH Balance Format"
Replace current wei representation with ETC (55.xxx versus 55858875380000001024) and limit 6 decimal places.

Move wei balance underneath ETC representation in small font.

[2016-08-06 01:50] elaineo commented on #5
@matthewjamesr re: number mined, people have requested tracking miner output so it will get populated from a separate DB

[2016-08-06 01:53] #5 closed

[2016-08-06 04:31] elaineo commented on #8
I don't have a preference either way, but it looks like other projects are using TravisCI.
cc @jsmith-dev

https://www.reddit.com/r/EthereumClassic/comments/4wbxg9/ethereum_project_adopts_travis_ci_for_pipeline/

[2016-08-06 04:50] elaineo opened #11 "Contract Internal Transactions"
I'd like to have the Contracts page display internal transactions, but this requires modifying a node  so that the EVM processes transaction data to record resulting value transfers.

I'm fine with modifying an EVM for use with the explorer, and having it be open source. I just wonder if a custom EVM defeats the purpose of an open-source explorer.

Pinging @whatisgravity, who is overseeing client

[2016-08-06 05:31] matthewjamesr commented on #8
@elaineo Sounds great as long as we implement and all of us are on the same platform. Thanks for the link, was news to me.

[2016-08-06 05:34] matthewjamesr commented on #11
@elaineo I do not think it defeats the purpose of an opensource explorer. One simple way to get around this is put a flag in both front/backends. We would need to make the modified node opensource as well. Lets assume we call the node **etcCore**. Something like `etcCore = true/false;` in params, etc. could suffice.

[2016-08-06 13:41] kimisan commented on #2
The ETC hashrate chart is finished.
Please see the index.html inside the D3 folder.

[2016-08-06 15:33] elaineo opened #13 "Replace License"
I've heard some criticisms re: the existing license. I don't know much about licensing agreements, but if someone has a better one to drop in, please do.

[2016-08-06 16:08] elaineo commented on #2
Also I can provide this data for you, but maybe we can make it look like a graph?
https://etherchain.org/statistics/miners

[2016-08-06 16:38] kimisan commented on #2
no problem , ^^

[2016-08-06 22:45] realcodywburns commented on #10
I'll work on this and some other front end clean up tonight.

[2016-08-06 22:49] realcodywburns commented on #4
4ETC.io

[2016-08-07 04:18] realcodywburns opened #15 "Web wallet user interface"
How labor intensive would it be to make a backend user tablespace that could store private keys and a list of public addresses they watch? We can bring over most of the front end from the classic wallet as far as visuals go. I keep hearing the "Oh the is no web wallet" argument a ton lately. Lack of security on it is a little spooky though.

[2016-08-07 04:22] elaineo commented on #15
Pretty trivial. Hold on, taking this to slack.

[2016-08-07 04:31] elaineo commented on #2
I added a link to your chart! it's under stats/hashrate.

Couple of questions -- the chart doesn't load unless I hit "reload". What function are you calling to initialize the chart? I'll move it to the controller.

Also -- can the Hashrate be displayed in GH/s? so there are not so many 000,000's ;)

[2016-08-07 07:53] kimisan commented on #2
Wow, I understand why. At the first time, the chart is showed, because the bundle_hashrate.js is called, it will append D3.js chart into svg (#hashrate).

When you move/click to other pages, the D3.js chart content is cleaned. You need to recall bundle_hashrate.js again, to append D3.js chart into svg (#hashrate).

However, for future developing,  now I am working on wrapped function, you can move

[2016-08-07 07:54] elaineo commented on #2
Sounds good!

On Sun, Aug 7, 2016 at 12:53 AM, Kimi Sian-yu Chen <notifications@github.com

[2016-08-07 12:17] kimisan commented on #2
1. add a new function, call_hashrate_chart() to append D3.js chart into #hashrate svg
2. modify the 780G --> 780GH/s

[2016-08-07 20:29] matthewjamesr commented on #15
Like this idea, great feature idea @realcodywburns.

[2016-08-07 20:58] suselname opened #22 "Convert unix timestamp to human readable"
On the Contract Address view time must be displayed in human readable format: 22 Aug 2016, 12:30. For now it is displayed in seconds since the Unix epoch. Optionally, todays transactions can be displayed like "44 minutes ago".

[2016-08-07 21:40] #10 closed

[2016-08-07 23:00] jdc4429 commented on #1
Can you add the difficulty  please.  In a way you can copy/paste.

[2016-08-07 23:45] elaineo commented on #1
@jdc4429 already there: http://blocks.elaineou.com/block/2028786

[2016-08-08 00:40] matthewjamesr opened #24 "Fix Hashrate Graph Width"
Constrain graph to 100% of the available width with appropriate padding/margin.

http://blocks.elaineou.com/stats/hashrate

[2016-08-08 01:00] realcodywburns opened #25 "change miner addr to human readable name"
the miner name is currently in the base58 format, can we get a list of know miners and query from them?

[2016-08-08 05:44] kimisan commented on #24
Ok, I will add Responsive Design on it.

[2016-08-08 08:45] elaineo opened #26 "Contract Verification imperfect"
TODO:
 - Identify contract against creation transaction
 - really big crap like DAO contract causes a memory error on the server but not my local machine, must be a bug somewhere

[2016-08-08 08:55] elaineo commented on #25
I'll add a DB to start storing miner info. We also want this for the stats pages that @kimisan is working on.

[2016-08-08 10:25] elaineo commented on #22
https://github.com/ethereumproject/explorer/commit/2dad2f1e6177c366685fa207de6ad056937812fe

done

[2016-08-08 10:25] #22 closed

[2016-08-08 11:25] elaineo commented on #25
done https://github.com/ethereumproject/explorer/commit/0b71074031895fadb6ad3166db594018f4b64592

[2016-08-08 11:25] #25 closed

[2016-08-08 12:56] elaineo opened #27 "Create API for miner stats"
something like this:  http://etherscan.io/stats/miner?range=7

[2016-08-08 13:50] kimisan commented on #27
Look good, but may I start it from 2D donut chart first?
By the way, may you provide me the API for ETC miner's share percentage ?

[2016-08-08 16:29] elaineo commented on #27
Go ahead and make the chart first. If you define the API you want, I will format the output to look like what you need. I'll work on this later today.

[2016-08-08 16:43] elaineo commented on #27
Actually, if you define all the stats you need re: miners charts, that will help me build the DB

[2016-08-08 17:27] kimisan commented on #27
Ok, understand.
And I start to define all the stats I need.

[2016-08-08 18:38] elaineo opened #28 "Calculate block rewards"
https://github.com/ethereum/wiki/wiki/Mining

[2016-08-09 00:10] elaineo commented on #27
I'm now working on the server-side processing of blocks to stat recording mining stats history. (just an update)

[2016-08-09 06:00] elaineo commented on #27
@kimisan what source are you using to record the hashrate stats? Do you prefer hosting that on your own DB, or should I build the API on the server?

[2016-08-09 06:02] kimisan commented on #27
API on the server is bettter, I am planing changing the hashrate chart  source to API on the server

[2016-08-09 06:04] kimisan commented on #27
Now, the chart source source is come from @matthewjamesr 's API

[2016-08-09 06:46] elaineo commented on #27
okay, thanks. i'll create a separate db on the server for this.

On Mon, Aug 8, 2016 at 11:04 PM, Kimi Sian-yu Chen <notifications@github.com

[2016-08-09 13:48] yolandaruiz commented on #13
The licensing terms are unclear currently, they reference commit hashes that are not in the repo history and mention an MIT "branch" which is not part of the repo either.

Are there remaining parts of the code coming from upstream that were under GPLv3? If not then the license could be reset to MIT.

[2016-08-09 15:31] Coryvmcs1 opened #30 "Executing explorer app"
What is the process to execute running the explorer asside from importing the blocks into mongoDB ?

[2016-08-09 15:46] elaineo commented on #13
We do not use any upstream code. I'll reset to MIT.

On Tue, Aug 9, 2016 at 6:48 AM, Yolanda Ruiz <notifications@github.com>
wrote:

[2016-08-09 15:47] elaineo commented on #30
will debug this in slack channel

[2016-08-09 15:47] #30 closed

[2016-08-09 15:54] #13 closed

[2016-08-09 17:00] elaineo commented on #4
@coryvmcs1 has offered to host a separate copy of the block explorer at http://etherhub.io/
So I propose that the current blocks.elaineou.com be relegated to Staging server, and etherhub.io can be the production one.

[2016-08-09 17:03] #4 closed

[2016-08-09 17:06] yolandaruiz opened #31 ""Mined by" field shows parent hash"
https://github.com/ethereumproject/explorer/blob/bba16c47a85cefacfa87e5ff6041541ce875b0b8/public/views/block.html#L14

The displayed value for the field Mined By in blocks is block.parentHash instead of block.miner.

[2016-08-09 18:47] elaineo commented on #31
good catch, thanxs

[2016-08-09 18:47] #31 closed

[2016-08-11 10:40] matthewjamesr commented on #24
@kimisan am I able to close this?

[2016-08-11 12:13] kimisan commented on #24
Can't. I am still working on it.

[2016-08-11 16:36] kimisan commented on #27
@elaineo
Please refer to the url.
http://drawpie.com/etc_data_vis_json_format

[2016-08-11 19:42] kimisan opened #32 "Error: Cannot find module 'etherUnits.js'"
After npm install , i run app.js
but got this error
Error: Cannot find module 'etherUnits.js'

[2016-08-11 22:38] elaineo commented on #32
ok fixed #33

[2016-08-11 22:38] #32 closed

[2016-08-12 22:59] elaineo commented on #15
Might as well add classicetherewallet's client-side wallet while we're at it. That's also nodejs/angular.

[2016-08-12 23:04] realcodywburns commented on #15
That's the sprit! Ha ha. I'm internet less today but tomorrow I will start reskinning every thing

[2016-08-13 16:30] realcodywburns commented on #28
Do you mean calculate an estimated return based on a users hash power based on difficulty?

[2016-08-13 17:16] elaineo commented on #28
@realcodywburns no, the block reward + the gas that was paid via transactions. It lets people see how much ether miners are making per block.

[2016-08-13 18:06] kimisan commented on #28
Wow cool, hope will have api for get this data.

[2016-08-13 18:56] realcodywburns commented on #28
I was working the same problem from the other end. I was trying to estimate the base reward for a given hash rate.

The  successful miner of the winning block receives:
- A static block reward for the 'winning' block, consisting of exactly 5.0 Ether
- ALL of the gas expended within the block, that is, all the gas from the contracts that were run within the block submitted by the winning miner. Ove

[2016-08-13 19:17] elaineo commented on #15
ooh, if we're gonna have accounts and logins, that means that there should be some reliable server to host the database, because logins will only work on one server.

Right now, @coryvmcs1 is hosting a copy of the explorer on etherhub.io. If @coryvmcs1 is okay with it, maybe etherhub.io can be the production version of the explorer?

[2016-08-13 20:32] realcodywburns commented on #15
For the test server: When a user is signing up, couldn't we just generate a wallet private key that is based off of the same password, like in the classic wallet?

[2016-08-13 21:47] elaineo commented on #15
Newly generated wallets are created from a random seed, so a user should not be able to generate the same wallet twice.

[2016-08-13 23:43] realcodywburns commented on #15
Yeah, not regeneration, generate when the account is created then store the the priv key and public key in the db. Instead of the user keeping their private key it is hashed and stored on the db for them

[2016-08-14 02:09] elaineo commented on #15
2 questions:
 - are we going to have a sufficiently reliable server that can host the DB?
 - Not totally sure about this one. I'm okay with having user accounts associated with watch lists and API keys, but I am against storing private keys on the DB, even if hashed, given that the software is open source.

[2016-08-14 03:11] realcodywburns commented on #15
First question: no, not at this point. We would need redundant systems and raid storage.

Question 2: yes I agree, super high risk with open source . if there is a hole it will be found.

[2016-08-15 07:54] comndkn commented on #1
Hi All, do you think GPU mining of ETC will remain feasible till December of 2016? When can I expect hashing difficulty to rise in the near term?

[2016-08-15 17:33] elaineo commented on #24
looks good :)

[2016-08-15 17:33] #24 closed

[2016-08-15 17:47] elaineo commented on #27
@kimisan
Does this work for the top miners?
curl -H "Content-Type: application/json" -X POST -d '{"action":"miners"}' http://blocks.elaineou.com/stats

[2016-08-15 17:56] kimisan commented on #27
@elaineo  @@, can you provide more information?
this commend  of "curl -H "Content-Type: application/json" -X POST -d '{"action":"miners"}'"
I am not sure how to use it @@

[2016-08-15 18:02] elaineo commented on #27
it's an ajax post with those options.
[code]

[2016-08-15 18:51] kimisan commented on #27
Look like i got the empty...
Does it need run the node ./tools/grabber.js  for listen mode?
Now I just run node app.js

[2016-08-15 19:30] kimisan commented on #2
@elaineo
By the way, I start a discussion at https://redd.it/4xu1ql
I think the http://fork.ethstats.net/ treemap, i can make a better version for ETC , but need your api support.
Another way, for World map is also a very good idea.

[2016-08-15 19:31] elaineo commented on #2
@kimisan Awesome! Let me know what data you need!

[2016-08-15 19:32] elaineo commented on #27
use tools/stats.js to populate the db

[2016-08-15 23:14] elaineo opened #38 "Display blocks mined by address"
display the blocks mined by a specific address

[2016-08-16 08:08] kimisan commented on #27
Ok, got it .
But I have meet two issues,
1 . { Error: Trying to open unclosed connection.
2.  Error: Aborted due to error on block number 2079026: WriteError({"code":11000,"index":0,"errmsg":"E11000 duplicate key error collection: blockDB.blockstats index: number_1 dup key

[2016-08-16 09:25] kimisan commented on #27
For  ajax post , it can work now, can get the miner information.
success
bundle_hashrate.js:214 "[{\"_id\":\"0x9eab4b0fc468a7f5d46228bf5a76cb52370d068d\",\"count\":1},{\"_id\":\"0xa8d0e61c254efc29e9fccca3a0c28b50b556b34d\",\"count\":1},{\"_id\":\"0x929835a1a7721d4cd8be6535700e2761d898b39d\",\"count\":1},{\"_id\":\"0x0e9b9bb146e0af0174121b966a53e8f1cd20f48a\",\"count\":1},{\"_id\":\"0x8c5535afdbdee

[2016-08-17 16:21] elaineo commented on #27
@kimisan : oh shoot, I forgot -- for the setInterval part at the bottom of tools/stats.js, I have it set to `0 minutes` for testing. You can change it to 10 minutes, or whatever interval you want to use for updating your data.

Also, the Error: Aborted is fine, it ends when it comes to a block it has already seen. I should have given it a friendlier message, but yeah :)

[2016-08-17 18:01] kimisan commented on #27
@elaineo, For miner Hashrate distribution chart is under design

By the way, can you provide Geographic coordinate api  for getting data from db, which i can make a world heatmap map of ETC activity.

watching http://fork.ethstats.net/ is fun; blockheights (cant wait for the epic day ETC overtakes ETH) , block intervals and hashrates and the weird shapes created in the disagram (or visualization?)

[2016-08-17 18:06] elaineo commented on #27
I don't know how to get the geographic coordinates. Is someone out their
keeping track of all the nodes and IP addresses?

On Wed, Aug 17, 2016 at 11:01 AM, Kimi Sian-yu Chen <
notifications@github.com> wrote:

[2016-08-17 18:14] kimisan commented on #27
Ok, i see.  track all of the nodes is not easy.

[2016-08-18 17:46] suselname opened #39 "unforked.info domain doesn't display avg hashrate and difficulty"
The blockchain explorer displays zeros for average hashrate and difficulty when opened from the alternative domain unforked.info

[2016-08-18 20:07] matthewjamesr commented on #2
@elaineo @kimisan Not sure who worked on the hashrate/difficulty component, but it's functionality is intermittent. Is this an issue for anyone else?

[2016-08-18 20:30] elaineo commented on #2
@matthewjamesr thanks, i restarted the block-grabber on unforked.info. Looks like it's ok on etherhub.io -- have you seen it down on that server?

[2016-08-18 20:36] matthewjamesr commented on #2
@elaineo Yes, I have and still currently see it down on both hosts.

[2016-08-18 20:45] kimisan commented on #2
Production: etherhub.io

Staging server: unforked.info

[2016-08-18 20:46] matthewjamesr commented on #2
I confirm the same.

[2016-08-19 06:38] slacknation opened #40 "incorrect balance"
http://etherhub.io/addr/0xb794f5ea0ba39494ce839613fffba74279579268

http://etherscan.io/address/0xb794f5ea0ba39494ce839613fffba74279579268
https://etcchain.com/addr/0xb794f5ea0ba39494ce839613fffba74279579268

[2016-08-21 01:33] realcodywburns commented on #15
I have got the chrome extension working from the old wallet project. It stores keys on a users computer and keeps everything client side. watch only or stored keys. Need to migrate the rpc api at some point https://github.com/realcodywburns/ETC-CX-Wallet

[2016-08-21 01:43] elaineo commented on #15
awesome @realcodywburns . this should be merged with the classicetherwallet though, not explorer, right?

[2016-08-21 01:46] elaineo commented on #40
@slacknation balance looks the same to me.

[2016-08-21 01:47] elaineo commented on #39
unforked.info is the staging server and is often undergoing restarts; etherhub.io is more reliable.

[2016-08-21 01:47] #39 closed

[2016-08-21 01:55] realcodywburns commented on #15
Right, if we are continuing them as separate projects

[2016-08-21 04:32] elaineo commented on #15
Wallet could be a submodule of explorer, that would be easiest. Are you
working on the webwallet, or is that just Julian? Do you know if there are
plans to change the design? I think it would be nice if all the ETC web
interfaces had a similar design.

On Sat, Aug 20, 2016 at 6:55 PM, Cody Burns <notifications@github.com>
wrote:

[2016-08-21 06:03] slacknation commented on #40
the domain http://etherhub.io/ doesn't seem to be working right. it shows all the balance as 0.0000753800 etc. the http://blocks.elaineou.com/ domain is working fine though

[2016-08-21 06:10] slacknation commented on #40
a screenshot of what i see http://i.imgur.com/kumQAUq.jpg

[2016-08-21 10:38] realcodywburns commented on #40
Im having the same error, with the same incorrect balance with addr 0xCe5ED529977b08f87CBc207ebC216859820461eE

[2016-08-21 16:11] kimisan commented on #2
For Miner hash rate distribution, now is finished.
Please check #42
I will keep maintain and update new function in the future.

[2016-08-22 06:12] elaineo commented on #40
Whoops, the server it was running on had the env set to "development".

Thanks for letting me know!

[2016-08-22 06:12] #40 closed

[2016-08-24 23:06] elaineo commented on #27
I just merged this one

[2016-08-24 23:06] #27 closed

[2016-08-25 09:19] kimisan opened #44 "Miner Distribution chart doesn't load unless I hit "reload"."
Steps,
1.  home page->ok
2. select tab of Miner Distribution chart -> is ok, Miner Distribution chart  is showed
3. select tab of Hashrate Growth chart -> is ok, Hashrate Growth chart is showed
4. 『Reselect』 tab of Miner Distribution chart -> not ok, it still show the Hashrate Growth chart
5. Hit reload -> ok,  Hashrate Growth chart is showed

[2016-08-30 20:45] kimisan commented on #2
@elaineo  @matthewjamesr  @whatisgravity
Since the hash rate distribution is finished, I am considering to make a new chart.
Could you please give me some advice?

[2016-08-30 23:33] elaineo commented on #2
@kimisan - we could ask reddit again :)
One thing people have asked for is a hashrate chart for the open-mining-pool (https://github.com/elaineo/open-ethereum-pool). It's not totally related, but we could show hashrate-per-miner

[2016-08-31 15:56] kimisan commented on #2
@elaineo haha,ok!
For the open-mining-pool , i am not very familiar with ember.
But I can help with the d3.js charts portion like explorer,  What do you think ?

[2016-08-31 16:26] elaineo commented on #2
sounds good!

On Wed, Aug 31, 2016 at 8:56 AM, Kimi Sian-yu Chen <notifications@github.com

[2016-08-31 16:54] kimisan commented on #2
Good! Let's get started! :smile:

[2016-08-31 17:56] elaineo commented on #2
Okay, I'll ask reddit too :)

[2016-09-01 18:14] realcodywburns opened #46 "'The bomb' chart"
I think we should make a 'minutes till midnight ' chart that shows the estimated difficulty based off the simple moving average of network hashrate. The difficulty algo is a constant, the hashrate is the biggest x factor.

[2016-09-02 14:26] kimisan commented on #46
Wow, good idea !

[2016-09-14 16:00] kimisan commented on #46
The preview of 'The bomb' chart v0.1
http://imgur.com/a/UVDaP

[2016-09-14 20:54] arvicco commented on #46
Nice one! It would be even better if in future this chart reflects the effects of bomb defusal proposals such as ECIP-1010: https://github.com/ethereumproject/ECIPs/issues/4

[2016-09-14 21:24] kimisan commented on #46
@arvicco
Ok, I will add the ECIP-1010 effects.
No problem.

[2016-09-14 21:52] realcodywburns commented on #46
Super cool!

[2016-09-15 13:06] kimisan commented on #46
The preview of 'The bomb' chart with  ECIP-1010 effects.
1. Red : 'The bomb'
2. Green :  with  ECIP-1010 effects.
http://imgur.com/H985rW4

[2016-09-15 13:37] iquidus opened #47 "launching web interface?"
Hi everyone,

Trying to get an instance of this up and running but having some issues.

grabber is working fine, but I dont seem to be able to start the web interface?

Web3 connection established
Killed

What am I doing wrong? How should this be launched properly?

Been looking at the code, nice work, expect a deluge of pull requests from me.

[2016-09-15 13:50] iquidus commented on #1
Hi everyone,

I'm the lead dev of iquidus explorer, used by a very large number of bitcoin based alts. I'm pretty keen to help out on this project, there's a few things i want to take care of not mentioned here, all backend related, will submit some pull requests once i have tested throughly. Then start getting my hands dirty with more feature based changes.

[2016-09-15 15:31] elaineo commented on #1
@iquidus thanks!

[2016-09-15 15:32] elaineo commented on #47
can you run the server?
`node app.js`

[2016-09-15 20:45] iquidus commented on #47
yeah but i get

Web3 connection established
Killed

and nothing listening on port 3000 at all during the process.

I should mention I'm trying with neither etc or eth. Just wanted to check I was launching correctly, must be more params i need to change.

[2016-09-15 21:12] elaineo commented on #47
Oh, geth needs to be running.

[2016-09-16 00:28] arvicco commented on #46
Looks great, @kimisan!

[2016-09-16 09:33] kimisan commented on #46
The chart is finished, please check it
https://github.com/ethereumproject/explorer/pull/48
screen shot
http://imgur.com/ABjtJgg

[2016-09-18 17:53] #47 closed

[2016-09-18 17:54] elaineo commented on #11
Completed with PR #49

[2016-09-18 17:54] #11 closed

[2016-09-28 01:50] #46 closed

[2016-09-28 23:19] #44 closed

[2016-10-26 13:23] realcodywburns opened #51 "DataTables warning: table id={id} - Ajax error"
http://etherhub.io/addr/0xCe5ED529977b08f87CBc207ebC216859820461eE

I receive a data table error when trying to view addresses.

[2016-11-07 16:21] elaineo commented on #51
thanks, sorry just saw this. working on it.

[2016-11-07 16:22] #2 closed

[2016-11-07 16:22] #8 closed

[2016-11-07 16:22] #15 closed

[2016-11-07 23:51] realcodywburns commented on #51
The issue seems to be resolved now, any other pressing issues that you need help with?

[2016-11-08 00:33] elaineo commented on #51
nothing super urgent that i can think of...

[2016-11-08 00:33] #51 closed

[2016-12-01 00:21] shmilylzy0815 opened #52 "the web view"
hello，when i run  node ./tools/grabber.js
how i view it in the chrome explorer？

[2016-12-01 02:23] shmilylzy0815 commented on #52
now, i know use  node app.js to start web service.

but mongo connection has error:MongoError: Authentication failed.
i don't know node.js     can you tell me how to modify mongo connection files？ and modify how many files？

[2017-01-07 04:01] #52 closed

[2017-02-09 01:20] realcodywburns commented on #38
I'll get a list put together 😊

[2017-02-27 07:42] elaineo opened #53 "Token Browser"
Sort of like this one, but generic.
http://etherhub.io/dao#tab_dao_1

[2017-02-27 10:40] elaineo opened #54 "Many missing transactions"
* Home page
* Address Page

[2017-03-20 20:06] elaineo opened #55 "Detect if Address is a Token"
Detect Addresses that are ERC-20 compatible for token explorer

see also: https://etherscan.io/token-search

[2017-05-22 11:15] anhdung-le opened #56 "Explorer keeps displaying "old" blocks/transactions"
Hi, I have the issue in which the explorer keeps pointing to old blocks.
What I've done:
- Pointing tools/grabber.js and routes/web3relay.js to private chain
- Run node/grabber.js then node app.js

The app can start, but after I reset the private chain, it keeps listing the old blocks, when selected the block -> 404 error.

I tried to removed mongo db folder but the issue remained.
Where can I com

[2017-05-24 06:10] elaineo commented on #56
What settings are you using for `grabber.js`? Make sure you have `latest` set to `true`.

[2017-05-24 08:40] anhdung-le commented on #56
You mean the settings in the **config.json if** I'm correct ?
Here are they

`{
    "gethPort": 8545,
    "blocks": [ {"start": 0, "end": "latest"}],
    "quiet": false,
    "terminateAtExistingDB": true,
    "listenOnly": false
}`

[2017-05-24 14:11] elaineo commented on #56
Try this:
'"terminateAtExistingDB": false,
    "listenOnly": true'

[2017-05-26 17:16] anhdung-le commented on #56
I found the reason: it's the **mongo DB**
Simply remove blockDB (local if needed also) should do the trick!
Your config works too @elaineo!
Thanks & cheers!

[2017-05-26 17:19] #56 closed

[2017-05-31 05:11] yograterol opened #57 "Architecture proposal"
Hi,

I'm following and working on ETC blockchain. And I think that we could improve a lot this explorer.

My proposal starts changing MongoDB for LevelDB (Thanks @elaineo for the advise)

We've some options to implement LevelDB.

The first, keeping JS as backend language we should use https://github.com/Level/levelup.

The second option B4F (Backend for frontend) - Backend with LevelDB (has change

[2017-05-31 05:26] elaineo commented on #57
I think LevelDB will be fairly easy to port. Let's go for it.

I'm not sure I understand the second option. Are you proposing to switch to React? Is there documentation for B4F?

[2017-05-31 05:36] yograterol commented on #57
@elaineo thanks for your answer. I propose to use NextJS (https://github.com/zeit/next.js/), it will be a backend just to server the frontend.

And keep isolated the front end and the backend of the explorer, both will communicate through RPC calls.

[2017-05-31 05:56] elaineo commented on #57
Okay. I think isolating the frontend and backend is a good idea. I have no problem with using NextJS to replace the current backend, but it sounds like it will be a fairly big project.

[2017-05-31 06:04] yograterol commented on #57
@elaineo may be, I could do my best work to keep it small. I'll start to work and keeping you updated about the progress.

[2017-06-03 05:25] doctherock opened #58 "Ethereum Classic Transaction ID Problem"
Hello,

im from Germany and im quite new in mining ethereum classic coins. I have earned 2 Coins the last 4 Days. The first coin i send to anycoin for a test-payout. Everything fine and it worked quite well.

The second coin i earned, i transferred to poloniex. Now i got a support Ticket from Poloniex which says "It appears you have forgotten to provide the transaction id of your deposit".

The Pr

[2017-06-03 06:27] elaineo commented on #58
the server database is in need of an upgrade. can you try http://gastracker.io to view your transaction history?

[2017-06-03 06:42] doctherock commented on #58
Hello,

this side looks fine, but where do i see the transaction ID for the last
payment on Poloniex ?
My Wallet Adress ist 0x282fA96995BDb6fAFe50822b5AaEb86dbAf98EA4

Perhaps u can help me again. Sry im quite new here. Thx

2017-06-03 8:27 GMT+02:00 Elaine Ou <notifications@github.com>:

[2017-06-03 06:49] realcodywburns commented on #58
Check at http://etcchain.com/addr/0x282fA96995BDb6fAFe50822b5AaEb86dbAf98EA4

[2017-06-03 06:55] doctherock commented on #58
Ok nice, thx u a lot. I opened a GITHub Thread a few hours ago. Perhaps u
can close it. Thx a lot

2017-06-03 8:49 GMT+02:00 Cody Burns <notifications@github.com>:

[2017-06-07 05:59] #58 closed

[2017-06-12 07:54] diachedelic opened #59 "Mixed content error in Chrome"
[code]

when visiting https://etherhub.io/tx/0xc09d05aa3d5f1799af02dbd08918bea8330f6c124192fa342b5fa805c316f99a

[2017-06-23 17:01] elaineo opened #60 "Statebot integration"
statebot.info the easiest way to access it is to contract on etc to get the json link and use ipfs.io/ipfs/%theFileHash%

[2017-06-29 23:06] smokeyta opened #61 "Stolen coins"
wrong forum

[2017-06-29 23:18] #61 closed

[2017-06-29 23:18] smokeyta commented on #61
wrong forum

[2017-06-29 23:56] realcodywburns commented on #60
Im working on a central repository for all my contracts with version tracking and ipfs linking for abi files. So in the future you can call my repo, ask for the latest version of statebot(or other contracts) and have it return the address to the latest version and abi. It will have version tracking as well so things like the token registry can remember which version of the token contract was used,

[2017-07-21 08:59] onnz423 opened #62 "Port?"
What is the default port that the explorer runs on, and where am i able to change it?
Thanks.

[2017-07-22 02:41] elaineo commented on #62
default is 3000, or you can run with `PORT=1234 node app.js`

[2017-07-22 05:27] onnz423 commented on #62
@elaineo thank you, however now i got this error: "node app.js
[code]

Thanks all of the help, im not really familiar with node.js or ethereum based coins, and i would like to setup my first block explorer :/

[2017-07-22 05:52] elaineo commented on #62
@onnz423 are you running geth or parity?

[2017-07-22 06:00] onnz423 commented on #62
Geth, the grabber.js syncs blocks just fine so the problem is not with
wrong rpc port at least.

22.7.2017 8.52 ap. "Elaine Ou" <notifications@github.com> kirjoitti:

@onnz423 <https://github.com/onnz423> are you running geth or parity?

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/ethereumproject/explorer/issues/62#issue

[2017-07-22 06:17] elaineo commented on #62
the error only happens if web3 fails to connect.
Try this:

Run a node console
[code]

Paste the following into the console:
[code]
if that works, then it should connect no problem.

[2017-07-22 06:32] onnz423 commented on #62
@elaineo thank you for quick answer once again!
I did not know i had to seperately install web3,
I had to change the port as well to 8293 i assume, because that is the HTTP rpc port of the coin that i am using.

This is the outcome from the web3:
[code]

[2017-07-22 06:55] elaineo commented on #62
what commands are you using to launch geth?
something like `--rpc --rpcport 8293 --rpcaddr 0.0.0.0 --rpccorsdomain "*" --rpcapi "eth,web3"` ?

i am surprised that you are able to get grabber.js to work though, because it is running the exact same commands.

[2017-07-22 07:22] onnz423 commented on #62
@elaineo Now it says that web3 is connected but still gives me the same error:
[code]

[2017-07-22 08:12] elaineo commented on #62
hmm.. it's exactly the same code :
[code]

The port # is updated in web3relay.js?

[2017-07-22 08:17] onnz423 commented on #62
 @elaineo thanks alot! that worked :)
Thank you for paying time on my issue, what is your donation address for ETH or BTC?

[2017-07-22 09:20] onnz423 commented on #62
@elaineo thanks alot! that worked :)

It is working now, however is there any official documentation how to change the tickers, and remove the price distribution etc parts.?

I only need to remove the part containing the Price, Hashrate and such (The lines that are on summary-stats.html, but if i delete the file it messes up the frontend), as well as change ticker and change the title.

Feel free

[2017-07-22 16:36] elaineo commented on #62
glad you got it working. i was gonna say "no need to donate", but it looks like you deleted the offer anyway :b

[2017-07-22 16:36] #62 closed

[2017-08-07 20:16] #59 closed

[2017-11-08 20:38] RorschachRev opened #64 "Inaccessible web3 git pinned by package.json"
"web3": "git://github.com/elaineo/web3.js#develop"
This ensures that any bugs caused during development in the underlying library will be inherited by your software and break, for some users, until that under development branch is fixed.

Additionally, npm install didn't have enough permissions by default for new users to actually get the code. I did a git clone and as a workaround:
"web3": "file:

[2017-11-08 20:42] RorschachRev opened #65 "config.json ignored, latest first creates huge gaps"
I have declared specific blocks inside my config.json which were promptly ignored by grabber.js. I didn't immediately see the cause of this inside the source, copied the config.json to the parent directory and tried again with the same results.

By counting latest first, I have massive gaps all over my database. Since I can't declare which blocks to download, the gaps are persistent unless I start

[2017-11-09 05:46] elaineo commented on #65
if you set `terminateAtExistingDB` to `false`, that should populate any missing blocks.

[2017-11-09 05:47] elaineo commented on #64
k, feel free to submit the fix as a PR.

[2017-11-09 13:29] RorschachRev opened #66 "Current explorer vuln list"
Legit posting the output instead of editing, sorry for the length but I thought you'd prefer "all of the data" instead of some. Without a working proof of concept this is just speculation, but it appears a DoS could be engineered against any service using this libraries. I'll check to see what versions Ethereum Classic is running in node.js in other services, but as a client instead of server I do

[2017-11-09 20:05] RorschachRev commented on #65
How do I get config.json to stop being ignored, to add things like that? It won't even pay attention to "quiet"

[2017-11-09 20:10] elaineo commented on #65
are you running `node ./tools/grabber.js` ? it automatically reads from config.json.

[2017-11-13 20:25] RorschachRev commented on #65
Please note that "quiet" mode is enabled in the config file:
[etc-explorer-issue65.txt](https://github.com/ethereumproject/explorer/files/1468371/etc-explorer-issue65.txt)

[2017-11-13 20:40] elaineo commented on #65
oh, sorry about that. It looks for `config.json` in the local directory. it looks like you have the file in /tools/ so either run `grabber.js` in the tools directory, or move config.json to the root dir.

[2017-11-20 13:25] RorschachRev commented on #65
confirmed that config.json in current working directory is expected behavior and working normally.

[2017-11-20 13:25] #65 closed

[2017-12-03 12:32] whilei opened #67 "etherhub.io down"
![screen shot 2017-12-03 at 06 31 58](https://user-images.githubusercontent.com/10228550/33525373-c5694054-d7f3-11e7-8b40-2e9993e07ed1.png)

[2017-12-03 12:34] whilei commented on #67
Just found `Find a permanent home for the explorer (register a domain name)` on the Trello... looks like known thing

[2017-12-03 16:56] elaineo commented on #67
Yeah... a member of the community kindly donated server hosting for the explorer for a year, but couldn't afford to keep going after that.

[2017-12-03 17:17] kimisan commented on #67
wow...let me setup a standby site with my Google Cloud server.

[2017-12-03 17:25] elaineo commented on #67
thanks @kimisan ! @pyskell is also working on a proposal to get funding for some ETC nodes. That would reduce the cost of running a server a bit.

[2017-12-03 17:36] kimisan commented on #67
Ok, glad to hear that. Thank you both! @elaineo @pyskell
I will prepare a standby site first and regular maintain it.

[2017-12-07 15:56] kimisan commented on #67
I almost finished the backup site,
but  i set listenOnly it to True
but it look like still keeping populate older block numbers...
PS: i clone the latest repo.
{
    "gethPort": 8545,
    "blocks": [ {"start": 4975445, "end": "latest"}],
    "quiet": false,
    "terminateAtExistingDB": false,
    "listenOnly": true
}

[2017-12-08 08:00] elaineo commented on #67
thanks a lot for creating this backup site kimisan! are you running `node ./tools/grabber.js` from the /tools/ directory?

[2017-12-08 13:17] kimisan commented on #67
OK i run it now.
May you help me check the config setting is ok or not?
{
    "gethPort": 8545,
    "blocks": [ {"start": 2000000, "end": "latest"}],
    "quiet": false,
    "terminateAtExistingDB": false,
    "listenOnly": true
}

[2017-12-08 18:19] elaineo commented on #67
yup, that should only fetch the latest blocks.

[2017-12-10 09:11] kimisan commented on #67
@elaineo , it look like the grabber.js does not synced finished.
Can I re-definition the config file to much short time.
Thank you

[2017-12-10 18:02] elaineo commented on #67
@kimisan not sure i understand the question... when "listenOnly" is true, it should only be grabbing the latest blocks. is that working?

[2017-12-11 23:46] #57 closed

[2017-12-12 12:55] kimisan commented on #67
wow, my account got frozen by Google Cloud due to "similar to Crypto mining activity"
Already write a letter ask them to fix it =.=

[2017-12-12 16:09] elaineo commented on #67
oh no! you are just running the node with no mining, right? i haven't had problems running nodes before...

[2017-12-13 15:44] kimisan commented on #67
after all, google cloud give my server back ...
But they delete all the file now ...
Under Recovering ^^

[2017-12-19 20:27] elaineo commented on #67
okay, looks like we're getting some funding and a new server for hosting!
https://forum.ethereumclassic.org/t/block-explorer-proposal/92/4

[2017-12-19 20:27] #67 closed

[2017-12-21 15:28] Coryvmcs1 opened #68 "Grabber.js"
When fetching block info and setting config listen to true it continues to constantly download all block info and never updates current block info.

[2017-12-25 18:53] elaineo commented on #68
@Coryvmcs1 node had to sync first... should be ok now

[2017-12-25 18:53] #68 closed

[2018-01-07 23:16] DonaldMcIntyre opened #70 "etherhub.io not working"
Hi, the website is up, but the content e.g. blocks, txs, charts, accounts, stats, etc. are not working.

[2018-01-08 13:09] elaineo commented on #70
thanks, should be fixed now :)

[2018-01-08 13:09] #70 closed

[2018-01-08 23:48] elaineo commented on #66
PR #71

[2018-01-08 23:48] #66 closed

[2018-01-11 01:28] realcodywburns opened #73 "cors error in chrome"
Cannot display some pages because:
`Failed to load http://127.0.0.1:3000/stats: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:3000' is therefore not allowed access.`

[2018-01-11 01:41] realcodywburns commented on #73
`http://drawpie.com/etc_hash_rate_api` seems to be the culprit

@elaine , can we math out the implied network hash for each block based on its blocktime and difficulty?

[2018-01-11 18:00] elaineo commented on #73
yeah, it's better to do this all on the same server.... cc: @kimisan

[2018-01-11 18:20] kimisan commented on #73
ok, i will fix it and update node.js script by this week.

[2018-01-14 17:14] kimisan commented on #73
update some info, since i update the new Geth.
The DB has just synced 50%, sorry for delay.

[2018-01-23 22:55] realcodywburns commented on #64
Close per PR #72

[2018-01-23 22:56] #64 closed

[2018-01-25 04:22] azkad95 opened #76 "ETC transfer incomplete after 24 hours"
I have sent ETC over 24 hours ago to the correct address and it is still unavailable. I also noticed that none seemed to be transferred by the the person who mines, but correct me if i am wrong.

[2018-01-25 04:26] elaineo commented on #76
you should contact the sender. We can't help you here.

[2018-01-25 04:26] #76 closed

[2018-02-05 17:44] bmatthewshea commented on #62
I came across this while having some issues with connection.
Note: If you modify host or port (or both) for RPC connection, you must modify the config file for grabber, and also the hardcoded value that's in `routes/web3relay.js`
After this is fixed, I get `Web3 connection established`

[2018-02-06 22:37] pcdinh opened #77 "Missing transactions"
Hi,

There is a bug in Explorer that prevents it from displaying transactions by account

http://etherhub.io/addr/0xa312ea325c9f520d58acfaf81786d929ad9ca896

=> no transactions

http://gastracker.io/addr/0xa312ea325c9f520d58acfaf81786d929ad9ca896

=> missing transactions

The expected result: https://etcchain.com/addr/0xa312ea325c9f520d58acfaf81786d929ad9ca896

Regards,

Dinh

[2018-02-07 02:55] pcdinh commented on #77
Gastracker.io works today. Yesterday it didn't show 5 transactions as expected. Only 3.

etherhub.io still shows: No transactions found

[2018-02-14 20:36] DialogueSolutions commented on #73
Is (http://drawpie.com/etc_hash_rate_api) supposed to help draw w3.js pie charts? (http://bl.ocks.org/juan-cb/1984c7f2b446fffeedde)

Just trying to see if there has been any update since it seems like the link is broken. :)

[2018-03-10 15:13] realcodywburns opened #78 "Organization of issues backlog"
Evaluate current issues and move to trello backlog for sprint planning. Update readme with issue/pr workflow.

assumed flow:
- issue created
- acceptance criteria defined
- added to backlog
- items in back log are worked through

https://trello.com/b/W3ftl57z/etc-block-explorer-development

[2018-03-10 15:31] realcodywburns commented on #78
![](https://github.trello.services/images/mini-trello-icon.png) [Organization of issues backlog #78](https://trello.com/c/ON43gxCh/15-organization-of-issues-backlog-78)

[2018-03-10 16:32] elaineo commented on #78
is trello still used for any ETC projects? i believe ETCDEV is using github projects, which I prefer too https://github.com/orgs/ethereumproject/projects

[2018-03-10 16:33] elaineo commented on #77
duplicate: https://github.com/ethereumproject/explorer/issues/54

[2018-03-10 16:33] #77 closed

[2018-03-11 06:12] realcodywburns commented on #78
Yeah I  discovered by projects today and like it much better than trello

[2018-04-02 15:00] akx20000a opened #81 "Add total supply API, fix charts and token lists"

[2018-04-06 18:29] kimisan commented on #81
1 . Add ECIP-1017 support with miner rewards chart , good point
 under design
2. charts , fixing now.

[2018-04-09 17:39] pyskell opened #88 "Remove unused/dead links"
Some links are old/outdated. Stats also needs to be hidden until the stats are up and working again. Don't delete the stats-related code, just hide the website elements corresponding to it.

[2018-04-09 17:41] pyskell opened #89 "Fix `app.js` crashing issues, currently crashes periodically when retrieving hashrate data from minergate"
This is a two-part issue:
- [x] Remove the charts that compare ETH/ETC on hashrate and price.
- [x] Stop querying minergate.com for hashrate ([how to calculate](https://ethereum.stackexchange.com/questions/11380/whats-the-formula-to-calculate-the-mining-profitability-for-etc/11382#11382)), calculate it directly from the node. This may be best done by having `grabber.js` calculate and store the dat

[2018-04-09 17:42] pyskell opened #90 "Fix `grabber.js` crashing issues."
Sometimes `grabber.js` will up and crash at certain blocks (requiring a restart of the service). Other times it will stop getting new blocks (without crashing). There may also be some issues with it communicating with newer versions of Geth.

This may best be done as a full rewrite.

Required:
- [x] Runs without crashing or halting (stopping syncing but process continues to run)
- [x] Reliably fet

[2018-04-09 18:56] hackmod commented on #88
How about `simple-summay-stats.html` like as following

![image](https://user-images.githubusercontent.com/32324335/38516597-8d5185b2-3c72-11e8-852d-6fbc84c6196c.png)

Iv made it as a directive to replace the `summary-stats` directive.

this directive make use of the modified `getHashrate()` function found at `routes/stats.js`

[2018-04-09 19:12] pyskell commented on #88
I like this a lot. Looking forward to the PR!

[2018-04-09 19:17] hackmod commented on #88
OK! PR #91 is my try (similar with the eth-netstat style)

[2018-04-09 20:03] hackmod commented on #88
and... Iv found two outdated link.
- http://www.ethereumclassic.com, found at `public/tpl/footer.html`
- http://etc.minertopia.org, found at the main home.

and currently not working (or slow) stats function related things is the stats menu. I guess.

[2018-04-10 00:34] hackmod commented on #89
ETC explorer already has hashrate function, `routes/stats.js` named `getHashrate()`.
[code]

currently, `getHashrate()` has some bug.

[code]
`hashrate` in `H/s` is
[code]

PR #91 is a try to using it.

[2018-04-10 00:36] akx20000a commented on #89
@pyskell  Yup. I use systemctl restart-on=failure option in order to solve the problem "temporary" 😄

[2018-04-11 01:31] ethernodeio commented on #89
There is no parameter blockTime, so it returns empty array.
Last fix should have it working now with out crashing and pulling data into the front end,

[2018-04-13 03:58] hackmod opened #101 "Frontpage speed issue."
[code]
after createIndex(), front page response time reduced!
- before : response time of `POST /data` ~1200ms
- after createIndex() : response time of `POST /data` ~350ms

[2018-04-14 16:25] hackmod commented on #89
`/fiat` query emit `Error: socket hang up` sometimes and make `app.js` crashing.
[code]

[2018-04-18 15:13] #101 closed

[2018-04-18 15:18] pyskell opened #108 "Not displaying all individual transactions in some cases"
Balances are displayed correctly.

In some cases, transaction count is accurate (such as in the example below).
In other cases transaction count it is inaccurate.

In all affected cases most individual transactions are missing/not displayed.

Example here: http://etherhub.io/addr/0x8c2e4baf8b50ad99413e2d76b30c05675ec3b2b4
![image](https://user-images.githubusercontent.com/9665963/38941124-df8d0062

[2018-04-18 15:21] pyskell opened #109 "That one weird Uncle"
When a block does not have any uncles it shows `0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347` as an Uncle.

This shouldn't happen, and if there's some technical reason for this specific hash being shown then it should be filtered out/not displayed as a special case.

Example: http://etherhub.io/block/5733546
![image](https://user-images.githubusercontent.com/9665963/38941401-

[2018-04-19 21:01] phyro commented on #108
Just a note for whoever tackles this:
https://medium.com/etcdev/geth-classic-v5-2-introducing-geth-getaddresstransactions-133c76fa82d1
Seems like querying the transactions is now easier from geth (i'm not sure if this always queries the node or has information stored in some other database but either way it should help)

[2018-04-26 12:29] pyskell opened #117 "Unused block configuration parameters"
It appears that only `startBlock` is used in `config.json`

The following seem entirely unused:
[code]

`endBlock` isn't used at all.

The `blocks` dictionary is only used in the sense that it is checked for and set if it doesn't exist, it's not effectively used in any actual program operation.

@ethernodeio any thoughts on this?

[2018-04-27 19:38] pyskell opened #123 "Add support for geth-etc transaction indexing"
As noted in https://github.com/ethereumproject/explorer/issues/108#issuecomment-382879529, geth now has support for transaction indexing.

Explorer should add support for this, optionally using it when `geth-etc 5.2+` is available, and falling over to the current approach when using an incompatible version.

Detection is likely most backwards compatible by checking for the necessary API endpoints

[2018-04-27 19:39] pyskell commented on #108
This was a two part issue that is now solved:
1. Your node needs to keep all transaction data; in parity this is achieved with `--tracing=on` and in geth by performing a full sync.
2. Improvements to the syncing logic to now store all transaction data in MongoDB.

@phyro Thanks for the suggestion. This is a separate feature request so I've referenced it in #123.

[2018-04-27 19:40] pyskell commented on #90
Fixed in #113 and #118 because I'm apparently not as good at git as I think.

[2018-04-27 19:40] #90 closed

[2018-04-27 19:41] pyskell commented on #89
Fixed. Thanks everyone!

[2018-04-27 19:41] #89 closed

[2018-04-27 19:47] pyskell commented on #1
This issue seems outdated, closing

[2018-04-27 19:47] #1 closed

[2018-04-27 19:50] pyskell commented on #54
I believe this may have been tied to #108. Waiting for etherhub.io to resync with the new changes, this may take ~1 week. After this we'll be able to know for sure if all transactions are being properly tracked.

[2018-04-27 19:56] pyskell commented on #108
Re-opening as I've found at least one case where this isn't working: http://etherhub.io/addr/0x8c2e4baf8b50ad99413e2d76b30c05675ec3b2b4

[2018-04-27 20:01] pyskell commented on #109
Fun little note here, this hash is a great way to find all the projects using explorer, the reach is surprisingly large (even RSK uses our explorer):

https://www.google.com/search?q=0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347&ei=-oDjWq_ZDcX25gKzi7yIDw&start=10&sa=N&biw=1396&bih=691&dpr=1.38

[2018-04-28 00:54] hackmod commented on #109
yea! ETC explorer is most likely etherscan.io style clone, I guess.

[2018-04-28 01:39] hackmod commented on #89
and now, `Block.blockTime` column is not used at all.

[2018-04-28 01:41] hackmod commented on #89
so. Who got the bounty ? who is bakon?

[2018-04-29 12:38] hackmod opened #125 "address page speed boost using compound index"
after create `Compound Index`, the addr page get huge speed boost.

[code]

for example, an addr page with ~250,000 txns
- before : 300~600ms delay
- after: less than 50~100ms delay

*Credit:* this method was introduced and confirmed by @turbobit (http://explorer.gonsmine.com)
https://www.ddengle.com/esn/7443710 (written in Korean)

[2018-04-29 16:52] pyskell commented on #89
Yup, bakon is ethernodeio.

Just FYI proposals are locked-in/signed up for so people avoid duplicating work/competing on changes.

But I also will have more proposals soon 🙂

I'll look into your `Block.blockTime` comment.

[2018-04-30 17:27] shanejonas commented on #125
just want to note here that `geth` itself now keeps an index of `address -> txes` via the RPC method `geth_getAddressTransactions`: https://github.com/ethereumproject/go-ethereum/pull/475

[2018-05-09 20:27] hackmod commented on #117
https://github.com/toinetoine/Ethereum-Block-Grabber (license unknown)

- https://github.com/toinetoine/Ethereum-Block-Grabber/commit/edce6ba45f0aa7c8f7115a51d23af724833bc619

this is the original source code of the `tools/grabber.js` or `tools/sync.js`
and the original `writeBlockToFile()` function is slightly fixed and renamed as `writeBlockToDB()`

-------
the original source support multiple b

[2018-05-22 17:57] #125 closed

[2018-05-31 05:29] akx20000a opened #142 "Add rich list & total supply api for market cap"

[2018-07-20 03:03] KushalKochar opened #155 "JavaScript heap out of memory"
Hi Team,

I am facing the javascript heapt out of memory issue every few minutes when I try to run tools/sync.js

This happens when I point to MAIN net. Ropsten works fine for me. I am using node v8.11.3 and npm 3.5.2.

Error details:

<--- Last few GCs --->

[4532:0x3cc86a0]  1301138 ms: Mark-sweep 1279.8 (1520.3) -> 1279.6 (1520.8) MB, 1021.1 / 0.0 ms  allocation failure GC in old space requeste

[2018-07-20 04:24] hackmod commented on #155
`Allocation failed - JavaScript heap out of memory`

how about to change bulkSize from `bulkSize : 100` to `bulkSize: 50` or less than 50 at the `config.json`

[2018-07-20 05:18] KushalKochar commented on #155
Thanks @hackmod . I have restarted the process with suggested changes and will update the result here!

[2018-07-23 00:00] KushalKochar commented on #155
with bulkSize: 50, it didn't worked! I will try with 25 now!
Is it me only, or anyone else faced this issue?

[2018-07-23 10:57] hackmod commented on #155
~8GB memory + parity + 120GB SSD with no problem.

[2018-07-23 16:30] phyro opened #156 "Contract addresses show correct balance but sometimes incorrect transactions"
Here is an example where it differentiates from the gastracked history if we look at the last 20 transactions (check the 'in' and 'out' parts).
https://gastracker.io/addr/0x9f5304da62a5408416ea58a17a92611019bd5ce3
http://etherhub.io/addr/0x9f5304da62a5408416ea58a17a92611019bd5ce3

[2018-07-25 23:45] KushalKochar commented on #155
I am also using the same config:

~8GB memory + parity + 256GB SSD...

I already had the data synced, so I was using ethExplorer for only indexing purpose. Yesterday, I tried with bulkSize of 10 and it ran for whole night (so looks like it is working with this bulksize)!

I will keep this issue open until it indexes the complete data.

[2018-07-31 04:07] vadim-shadrin opened #157 "Error: Web3 connection time out trying to get block undefined retrying connection now"
No connection, please specify web3host in conf.json
[1] node app.js exited with code 1
[0] Error: Web3 connection time out trying to get block undefined retrying connection now

I do not understand which parameter  is   rwong

{
    "nodeAddr":     "localhost",
    "gethPort":     8545,
    "startBlock":   0,
    "endBlock":     "latest",
    "quiet":        true,
    "syncAll":      true,
    "pa

[2018-08-01 05:33] vadim-shadrin commented on #157
I just  was need  to up my node using geth with --rpc  options. And  I have got opened 8545 port  on localhost as result .

[2018-08-04 11:25] ghost opened #158 "Show mined block & reward as a transaction on explorer"
Ethereum doesn't have a transaction hash for mining rewards and genesis block allocation since it is not recorded as a transaction, but a state change ( Therefore we can see the balance of mining reward added on account without single transaction )

Therefore etherscan.io displays mining reward as a "mined block", not a part of transaction.

My proposal is to add mining reward logic for miner's ac

[2018-08-06 22:53] alexacostarua opened #160 "Can't get explorer working with private geth blockchain (POA)"
This is the error I get.

EthereumClassicExplorer@0.2.0 start /home/user1/explorer-master

[0] config.json found.
[0] Connecting localhost:8545...
[0] Checking for missing blocks
[1] module.js:549
[1]     throw err;
[1]     ^
[1]

Im using npm version 5.6.
[1] Error: Cannot find module 'async'
[1]     at Function.Module._resolveFilename (module.js:547:15)
[1]     at Function.Module._load (module.j

[2018-08-06 23:29] mikeyb commented on #160
`[0] MongoError: failed to connect to server [localhost:27017] on first connect [MongoError: connect ECONNREFUSED 127.0.0.1:27017]`

[2018-08-08 13:58] alexacostarua commented on #160
Ok.  I see the error.  How would I fix this.  Would I use :
var promise = mongoose.connect('mongodb://localhost/myapp', {
  useMongoClient: true,
  /* other options */
});
// Or `createConnection`
var promise = mongoose.createConnection('mongodb://localhost/myapp', {
  useMongoClient: true,
  /* other options */
});
promise.then(function(db) {
  /* Use `db`, for instance `db.model()`
});
// Or, if

[2018-08-08 14:39] mikeyb commented on #160
Run through the install instructions again.  You dont have mongo running so when it tries to connect it fails since mongo isnt running.  Make sure there are no errors when running `npm install` and make sure you are not using ubuntus built in npm.

If you still have issues, we need more details of your setup.  I am basically guessing in the dark

[2018-08-08 14:57] alexacostarua commented on #160
Ok.  npm install worked perfect with only a few warnings, but when I ran  sudo apt-get install -y mongodb-org
E: Could not get lock /var/lib/dpkg/lock - open (11: Resource temporarily unavailable)
E: Unable to lock the administration directory (/var/lib/dpkg/), is another process using it?

Not sure what other process would be using it, I just started up this machine as well.

[2018-08-08 15:03] alexacostarua commented on #160
Alright I ran those commands then retryed the command but was returned with : sudo apt-get install -y mongodb-org
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package mongodb-org

[2018-08-08 15:07] mikeyb commented on #160
`ps aux|grep apt` should tell you what process is running apt.  If you rebooted the system with apt running (ie, no apt processes running currently), try removing the lock file and trying again.

[2018-08-08 15:09] mikeyb commented on #160
try just `apt-get install mongodb` mongodb-org doesnt exist on ubuntu.  directions on readme might be out of date

[2018-08-08 15:14] alexacostarua commented on #160
Ok.  Ive installed the mongodb following the https://docs.mongodb.com/manual/tutorial/install-mongodb-on-ubuntu/

[0] config.json found.
[0] Connecting localhost:8545...
[0] Checking for missing blocks
[1] CONFIG FOUND: Node:localhost | Port:8545
[0] Starting Full Sync
[1] Web3 connection established
[0] (node:7870) DeprecationWarning: `open()` is deprecated in mongoose >= 4.11.0, use `openUri()`

[2018-08-08 15:19] alexacostarua commented on #160
I installed it with "apt-get install mongodb" and it works.  Cheers! @mikeyb

[2018-08-08 15:59] #160 closed

[2018-08-08 16:00] alexacostarua opened #161 "Adding my custom token from my private network (Geth)"
Ok so I've added my custom token.  To the public > tokens.json : I replaced the first one bitether with my credentials for the token.      replaced the contract address with my own "address":"0x7a44861Dc68e011004418c313879387fAefDE36e",
    "symbol":"CHY",
    "name": "ChewyToken",
    "decimal":18,
    "abi": [ (added my full abi code from Remix IDE)

I've successfully got 60000 of these CHY toke

[2018-08-08 16:13] mikeyb commented on #161
OS, software versions, errors, do you see the CHY token listed under tokens in your explorer app, did you restart your explorer after making changes?  Things we need to know, all I know is your token name and address at this point.

[2018-08-08 17:26] alexacostarua commented on #161
Ubuntu 16.04_LTS, geth1.8.13-stable-225171a4, it shows up when you hit view all tokens as the first option.  But from the token drop down menu it still shows bitether.  Do I need to verify my Contract Source Code under that tab at the bottom as well or something else going on?

-------------------------------------------------------------------------------------------------------------------------

[2018-08-08 17:32] mikeyb commented on #161
Sounds like you didnt update the dropdown menu

[2018-08-08 17:32] #161 closed

[2018-08-08 19:02] pyskell commented on #155
@KushalKochar Any success?

[2018-08-08 19:33] alexacostarua opened #164 "Adding custom token from a private network (Geth)"
Where would I update the drop-down menu.  And also is the" Verify and Publish Contract Source Code" necessary for my token to be added properly?

[2018-08-08 20:26] mikeyb commented on #155
Try running with

`NODE_OPTIONS="--max-old-space-size=4096"`

default for nodejs is about 1.5GB.  Judging by your errors you are hitting that limit
[code]

[2018-08-08 20:30] mikeyb commented on #164
move mouse to search field at top of github.  search for `bitether` in this repo.  Make sure it is set to the `Code` tab on left  This issue tracker is for bugs, please do not use for support until you have exhausted all your resources, especially the simple ones that take 3 seconds.

[2018-08-08 20:53] hackmod commented on #161
you have to use all caps or all small for valid address.

or you can try to fix `public/js/web3utils.js`
[code]

[2018-08-08 21:40] mikeyb commented on #161
Checksum only works with the CORRECT uppercase letters fyi.
Checksum address are NOT ALL CAPS.

Is there a reason we require all upper or all lowercase for this check?  Mixed case is most certainly valid and the correct way to display a checksum'd address

https://github.com/ethereum/EIPs/blob/master/EIPS/eip-55.md

[2018-08-08 21:43] alexacostarua commented on #164
@mikeyb Look I'm just trying to get this to work with the most basic ERC20 contract out there...  I can clearly see my balance of custom tokens in metamask, can transfer them, but can't view the balances of my accounts with the coin, or the transactions through this explorer.  I've tried adding the address in all caps, no luck.  I've edited the drop-down menu as well (even though it doesn't matter

[2018-08-08 22:07] alexacostarua commented on #161
Word.  So it was correct the first time?  I have no clue whats wrong then.  Should I try editing theDao instead of the bitether one?

[2018-08-08 22:25] mikeyb commented on #164
Im not sure of the specifics of the code in place to interact with contracts in this code base as I have not been involved in development.  But keep in mind we all do this on a volunteer basis, have lives, jobs, families and the likes.  So if you are asking for help, help us by giving as much detail as possible.  And only ask for help after you have spent the time looking into the issue you are ha

[2018-08-08 22:54] alexacostarua commented on #164
Thanks @mikeyb appreciate the input.  But don't forget I opened this issue and titled it this because in the other "issue" after posting my log of the explorer along with my OS, and config info.  You told me "Sounds like you didnt update the dropdown menu" and then closed the issue.  In my eyes it was a bit misleading because it seemed like you were inferring if I fixed the drop-down menu, then th

[2018-08-09 01:43] hackmod commented on #161
@mikeyb // yes. checksumed address is correct and this is an old bug. (1ae067ae4fa117533)

[2018-08-09 05:29] hackmod commented on #161
for example, MyEtherWallet use `ethereumjs-util`

[code]

[2018-08-12 08:09] KushalKochar commented on #155
I am still facing the same issue with bulk size of 10. Now I will try with NODE_OPTIONS="--max-old-space-size=4096"

[2018-08-21 14:04] d3sh opened #167 "Cannot read property 'transaction' of undefined"
When I open a transaction e.g. (../tx/0xdd08cd98fd7b14b0a1924d263a3914b3a372f0a1a6....) I see in console this error:

`Cannot read property 'transaction' of undefined
TypeError: Cannot read property 'transaction' of undefined
    at exports.data (/Users/denis/Workspace/explorer/routes/web3relay.js:102:16)
    at Layer.handle [as handle_request] (/Users/denis/Workspace/explorer/node_modules/express

[2018-08-22 07:01] d3sh commented on #167
I think so. But checking the code, how its supposed to work? I did not found in web3js property 'trace'

web3.trace.transaction

`function Web3 (provider) {
    this._requestManager = new RequestManager(provider);
    this.currentProvider = provider;
    this.eth = new Eth(this);
    this.db = new DB(this);
    this.shh = new Shh(this);
    this.net = new Net(this);
    this.personal = new Persona

[2018-08-22 08:27] hackmod commented on #167
Currently, the official web3.js does not support the parity extension named "trace",
and I don't know why the parity extension used in the etc-explorer,
anyway, PR #136 use the parity extension conditionally and support token transaction/transfer using parity extension correctly.

[2018-08-24 21:45] #164 closed

[2018-08-27 14:10] d3sh commented on #167
Hey! Is it possible to achieve the same result "trace" with pure geth?

[2018-08-28 20:36] realcodywburns opened #169 "cleanup issues"
clean up old issues

[2018-08-28 20:36] realcodywburns opened #170 "support basic auth"
support basic auth for safer RPC connections

[2018-08-31 19:09] realcodywburns opened #172 "travis ci failing"
travis ci failing on all builds

[2018-08-31 19:09] #172 closed

[2018-09-01 22:16] eosclassicteam opened #173 "Missing transactions on explorer account page"
Appears on RPC Call https://explorer.eos-classic.io/tx/0x1df6ee4148a86730f93c9d6ec143b5f55daf2b223c580b314df537960809cdbd

But not appearing on account page ( which means transaction is not recorded on mongodb )
https://explorer.eos-classic.io/addr/0xd538730ee3d8ba902e771e8e9c7a01d5bf998951

I've checked them via nonce value, please check them

@hackmod

[2018-09-03 23:44] #173 closed

[2018-09-07 00:35] KushalKochar commented on #155
I tried NODE_OPTIONS="--max-old-space-size=4096" still getting the same issue. I was out of action for few days but now again back on this project, so will be able to update more regularly on the progress/issue.

Any other ideas/suggestion that I can try implementing?

[2018-09-07 00:40] mikeyb commented on #155
@KushalKochar do you have the output of the last lines of GCs with this option set?
How much swap is on this device? how much free memory is present after it runs a while?

`free -h`

[2018-09-07 00:44] KushalKochar commented on #155
@mikeyb I deleted the whole VM and now trying from scratch. I will be using some bigger VM with 16GB RAM to avoid any such issues.

I can provide the logs if I get the same issue again.

@mikeyb  Thanks for your prompt response.

[2018-09-07 06:18] KushalKochar commented on #155
Again the same error :

`* 1338 transactions successfully recorded.
        - block #5908787 inserted.
        - block #5908787: 337 transactions recorded.
        - block #5908776 inserted.
        - block #5908776: 72 transactions recorded.

<--- Last few GCs --->

[8:0x2d0ba30] 17149742 ms: Mark-sweep 1235.0 (1427.8) -> 1235.0 (1388.8) MB, 879.0

[2018-09-15 14:41] eosclassicteam opened #177 "page-title wouldn't appear when loading from home"
cc @hackmod

[2018-09-19 00:02] KushalKochar commented on #155
Looks like the 4GB memory also gives the same error:

<--- Last few GCs --->

[9:0x365b1b0]  1701580 ms: Mark-sweep 3659.9 (4042.2) -> 3659.9 (4006.2) MB, 3081.7 / 0.0 ms  (average mu = 0.496, current mu = 0.000) last resort GC in old space requested
[9:0x365b1b0]  1704755 ms: Mark-sweep 3659.9 (4006.2) -> 3659.9 (4001.2) MB, 3175.2 / 0.0 ms  (average mu = 0.319, current mu = 0.000) last resort GC

[2018-10-10 07:54] DrHyperKALICH opened #179 "Tokens information"
Hello!

Trying to use this block explorer on private network.
Everything is fine, but tokens.

Balances showing in wei, no tokens transfers, no contract transactions, no contract creator info.
Contract Source Code verification works too.

Using Geth/v1.8.16-stable

![2018-10-10 10 47 30](https://user-images.githubusercontent.com/23074969/46720851-49bd0180-cc7a-11e8-9b50-484dd431d495.png)

[2018-10-18 15:02] mikeyb commented on #73
late to the party, but this chrome plugin `Moesif CORS` is what I use when developing locally and need to bypass the localhost cors issues

[2018-10-19 09:35] hackmod commented on #73
currently, all chart related datas are generated on the fly.

[2018-10-26 13:07] djdeniro opened #180 "after starting npm start have "deprecated in mongoose >= 4.11.0""
[0] config.json found.
[0] Connecting 95.161.190.118:8545...
[0] (node:13032) DeprecationWarning: `open()` is deprecated in mongoose >= 4.11.0, use `openUri()` instead, or set the `useMongoClient` option if using `connect()` or `createConnection()`. See http://mongoosejs.com/docs/4.x/docs/connections.html#use-mongo-client
[0]
[0] events.js:165
[0]       throw er; // Unhandled 'error' event
[0]

[2018-10-29 08:05] hackmod commented on #180
a deprecated warning is not a fatal problem. I guess you have another issue

[2018-10-29 20:31] airboat opened #182 "this transaction has been lost"
it never showed in my account all was lost please help

[2018-10-29 20:33] airboat commented on #182
Address
0x82fBCCA801c2fd52624420a71d32CC31c938EA9f
Type
STANDARD ADDRESS
Balance
45.8189 Ether

45818917970000000000 Wei

$414.66

[2018-10-29 21:04] mikeyb commented on #182
If you have the private key to that account you can access the funds.  Explorer is not a wallet

[2018-10-29 21:04] #182 closed

[2018-11-13 21:20] #78 closed

[2018-11-13 21:39] realcodywburns opened #185 "unit test omnibus"
Unit tests required :

 **Units**
- [ ] app.js
- [ ] tools/sync
- [ ] tools/blockhelper
- [ ] tools/patcher
- [ ] tools/stats

**Database**
- [ ]  db

**Routes**
- [ ] routes/compiler
- [ ] routes/contracts
- [ ] routes/dao
- [ ] routes/fiat
- [ ] routes/filters
- [ ] routes/index
- [ ] routes/stats
- [ ] routes/tokens
- [ ] routes/web3dummy
- [ ] routes/web3relay

[2018-11-14 19:15] realcodywburns commented on #185
Automated Docker Build
https://hub.docker.com/r/ethereumclassic/explorer/

[2018-12-05 06:08] naikmyeong opened #188 "bug: account menu doesn't appear on header"
cc @hackmod

I assume your code is wrong here

[code]

`ng-show="settings.showRichList"` should be removed

ps) please add `"useRichList":  true,` on config.example.json so explorer can sync richlist by default

[2018-12-05 06:09] naikmyeong opened #189 "bug: TX chart: tooltip added doesn't work"
![default](https://user-images.githubusercontent.com/44437404/49493526-ca296880-f89f-11e8-9d6d-d045a7f7fd43.PNG)

cc @hackmod

[2018-12-06 04:33] naikmyeong commented on #188
@hackmod I see, but `settings.showRichList` didn't worked this time.

I didn't tested `NORICHLIST=1 tools/sync.js` but not using the option `useRichList` worked for me

[2018-12-06 04:51] hackmod commented on #189
thanks!

[2018-12-15 15:31] mikeyb opened #192 "s/ethereumproject/ethereumclassic/"
https://github.com/ethereumclassic/explorer/search?q=ethereumproject&unscoped_q=ethereumproject

[2019-01-14 02:12] kimisan opened #196 "Add miner block reward (4ETC) to explorer"
Somehow, miner reward will be large at some block.
It may lead to some misunderstanding.
It may provide miner block reward (4ETC) to explorer to resolve misunderstanding in near future.

[2019-01-26 22:10] lostinblue opened #203 "Not XSS"
<img src=x onerror=alert(1) />

Totally was, thanks for opening my iframe, :dagger:

[2019-01-27 05:48] lostinblue opened #204 "SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD COPY+PASTE JOB"
SCAM PROJECT

[2019-01-27 05:48] lostinblue opened #205 "SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD COPY+PASTE JOB"
SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD  COPY+PASTE JOB

[2019-01-27 05:48] lostinblue opened #206 "SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD COPY+PASTE JOB"
SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD  COPY+PASTE JOB

[2019-01-27 05:48] lostinblue opened #207 "SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD COPY+PASTE JOB"
SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD  COPY+PASTE JOB

[2019-01-27 05:48] lostinblue opened #208 "SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD COPY+PASTE JOB"
SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD  COPY+PASTE JOB

[2019-01-27 05:48] lostinblue opened #209 "SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD COPY+PASTE JOB"
SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD  COPY+PASTE JOB

[2019-01-27 05:49] lostinblue opened #210 "SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD COPY+PASTE JOB"
SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD  COPY+PASTE JOB

[2019-01-27 05:49] lostinblue opened #211 "SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD COPY+PASTE JOB"
SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD  COPY+PASTE JOB

[2019-01-27 05:49] lostinblue opened #212 "SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD COPY+PASTE JOB"
SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD  COPY+PASTE JOB

[2019-01-27 05:49] lostinblue opened #213 "SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD COPY+PASTE JOB"
SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD  COPY+PASTE JOB

[2019-01-27 05:49] lostinblue opened #214 "SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD COPY+PASTE JOB"
SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD  COPY+PASTE JOB

[2019-01-27 05:49] lostinblue opened #215 "SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD COPY+PASTE JOB"
SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD  COPY+PASTE JOB

[2019-01-27 05:49] lostinblue opened #216 "SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD COPY+PASTE JOB"
SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD  COPY+PASTE JOB

[2019-01-27 05:50] lostinblue opened #217 "SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD COPY+PASTE JOB"
SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD  COPY+PASTE JOB

[2019-01-27 05:50] lostinblue opened #218 "SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD COPY+PASTE JOB"
SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD  COPY+PASTE JOB

[2019-01-27 05:50] lostinblue opened #219 "SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD COPY+PASTE JOB"
SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD  COPY+PASTE JOB

[2019-01-27 05:50] lostinblue opened #220 "SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD COPY+PASTE JOB"
SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD  COPY+PASTE JOB

[2019-01-27 05:50] lostinblue opened #222 "SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD COPY+PASTE JOB"
SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD  COPY+PASTE JOB

[2019-01-27 05:51] lostinblue opened #223 "SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD COPY+PASTE JOB"
SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD  COPY+PASTE JOB

[2019-01-27 05:51] lostinblue opened #224 "SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD COPY+PASTE JOB"
SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD  COPY+PASTE JOB

[2019-01-27 05:51] lostinblue opened #225 "SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD COPY+PASTE JOB"
SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD  COPY+PASTE JOB

[2019-01-27 05:51] lostinblue opened #226 "SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD COPY+PASTE JOB"
SCAM PROJECT; YOU DON'T VOLUNTEER HERE - THIS A BAD  COPY+PASTE JOB

[2019-01-28 03:08] #60 closed

[2019-01-28 03:10] realcodywburns commented on #185
been a long 3 months still wip

[2019-01-28 04:02] whatisgravity opened #233 "# ⛔️ WARNING ⛔️ : http://github.com/ethereumclassic/ECIPS IS UNOFFICIAL AND SHOULD NOT BE USED."
# ⛔️ WARNING ⛔️ : http://github.com/ethereumclassic/ECIPS IS UNOFFICIAL AND SHOULD NOT BE USED.

Use https://github.com/openether to participate in the decentralized development of ETC.

[2019-01-28 05:49] whatisgravity opened #234 "I'm being very serious, because the way you render the contents of the block chain, your explorer right now is very vulnerable to XSS attacks"

[2019-01-28 05:50] whatisgravity commented on #234
You are being reckless and putting the community in danger if you do not at least warn people about it or fix it.

[2019-01-28 06:12] naikmyeong commented on #234
@whatisgravity Hey please contact me info@ethereumprogpow.com

[2019-01-28 12:50] #233 closed

[2019-01-28 12:50] #234 closed

[2019-01-28 13:42] youarenoobsandyoucantwin opened #237 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #238 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #239 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #240 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #241 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #242 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #243 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #244 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #245 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #246 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #247 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #248 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #249 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #250 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #251 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #252 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #253 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #254 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #255 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #256 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #257 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #258 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #259 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #260 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #261 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #262 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #263 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #264 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #265 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #266 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #267 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #268 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #269 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #270 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #271 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:42] youarenoobsandyoucantwin opened #272 "THIS PROJECT IS NOT OFFICIAL; THEY HIDE REAL BUGS; AND YOU SHOULD USEOPENETHER PROJECT"
All real development by competent developers has moved to https://github.com/openether

New accounts will be created nonstop and issues will be created. So ban this, and 1000x more will come.

You are reckless and dangerous to the community and you will not have the ability to have issues.

[2019-01-28 13:47] #248 closed

[2019-01-28 13:47] #249 closed

[2019-01-28 13:47] #250 closed

[2019-01-28 13:47] #251 closed

[2019-01-28 13:47] #252 closed

[2019-01-28 13:47] #253 closed

[2019-01-28 13:47] #254 closed

[2019-01-28 13:47] #255 closed

[2019-01-28 13:47] #256 closed

[2019-01-28 13:47] #257 closed

[2019-01-28 13:47] #258 closed

[2019-01-28 13:47] #259 closed

[2019-01-28 13:47] #260 closed

[2019-01-28 13:47] #261 closed

[2019-01-28 13:47] #262 closed

[2019-01-28 13:47] #263 closed

[2019-01-28 13:47] #264 closed

[2019-01-28 13:47] #265 closed

[2019-01-28 13:47] #266 closed

[2019-01-28 13:47] #267 closed

[2019-01-28 13:47] #268 closed

[2019-01-28 13:47] #269 closed

[2019-01-28 13:47] #270 closed

[2019-01-28 13:47] #271 closed

[2019-01-28 13:47] #272 closed

[2019-01-28 13:47] #237 closed

[2019-01-28 13:47] #238 closed

[2019-01-28 13:47] #239 closed

[2019-01-28 13:47] #240 closed

[2019-01-30 14:34] naikmyeong opened #274 "Feature request: Restore internal transaction sync on db"
Which is deprecated on https://github.com/ethereumclassic/explorer/commit/001d582b8a52eebb8c94d5d6d6920d20f1bc3bdd

[2019-01-30 14:46] naikmyeong opened #275 "Feature request: Record total supply on DB ( Avoid calculating them via docs )"

[2019-02-02 03:38] naikmyeong opened #276 "Slow mongodb query"

[2019-02-02 03:38] naikmyeong opened #277 "Missing transactions on DB"

[2019-02-02 17:20] naikmyeong opened #278 "Cannot read property 'toLowerCase' of undefined"
[code]

[2019-02-02 17:20] naikmyeong commented on #278
Loaded from Chrome console https://testnet.progscan.io/home

[2019-02-03 13:16] onur1980 opened #279 "https://ethereumproject.github.io/etherwallet/ problem"
hi,

does anyone know what happened to https://ethereumproject.github.io/etherwallet/ ?? my exp is there and i can't open the page. it gave the error below.

thanks.

There isn't a GitHub Pages site here.

If you're trying to publish one, read the full documentation to learn how to set up GitHub Pages for your repository, organization, or user account.

[2019-02-03 23:04] realcodywburns commented on #279
it is at https://Ethereumclassic.github.io/etherwallet/  the ethereum project was victim to a hostile take over.

[2019-02-04 04:42] onur1980 commented on #279
Thanks

4 Şub 2019 Pzt, saat 02:04 tarihinde Cody Burns <notifications@github.com>
şunu yazdı:

[2019-02-06 11:21] naikmyeong opened #280 "bug: Explorer crash when querying pending transactions"

[2019-02-15 17:02] #280 closed

[2019-02-28 03:00] 317482454 opened #281 "Open http://etherhub.io/ error 502"
![image](https://user-images.githubusercontent.com/16585053/53538245-d4c66780-3b47-11e9-985d-08cc575ac08c.png)

[2019-03-09 15:26] #281 closed

[2019-03-12 02:05] tdmllc1 commented on #196
Sounds Nice Good Luck With Your Hunting...

[2019-03-19 02:45] realcodywburns opened #290 "Review PR #288"
issued opened for gitcoin payment
- [ ] PR #288 needs review by a qualified reviewer

[2019-03-19 03:11] realcodywburns opened #291 "review PR #289"
- [ ] Qualified review of PR #289

[2019-03-19 12:12] btenterprise2020 opened #293 "to-do list"
Some features that are needed to be fixed

- [ ] Exclude 0 balance account from rich list sync ( Garbage collection for accounts that is already recorded )
- [ ] Fix high consumption of RAM while sync.

[2019-03-19 18:02] btenterprise2020 commented on #290
@gutsal-arsen You are missing a point, you should only review commits that I made ( for example https://github.com/btenterprise2020/etc-explorer/compare/31e5bf05872d4368c13523a251c2263dda5b78fb...btenterprise2020:899b5ff6c4d489b9500625e8a1b56d5add407a98 ).

[2019-03-21 17:23] #293 closed

[2019-03-24 09:42] btenterprise2020 commented on #155
You will need at least 30 GB of memory allocation for ethereum classic chain

For example,

`node --max-old-space-size=4096 tools/sync.js`

And try expanding swap memory for your system.

[2019-03-24 09:45] btenterprise2020 commented on #156
Note: current explorer is not showing the decoded function `withdraw(address to, uint256 value)` in tx.inputs.

[2019-03-24 09:53] btenterprise2020 opened #295 "Support more contract methods ( withdraw )"
Please report contract methods that are being used for an internal transaction that is not being decoded by default

- [ ] `withdraw(address to, uint256 value)`

[2019-03-24 20:31] btenterprise2020 opened #296 "Support IPC web3 connection as an option"

[2019-03-24 20:33] btenterprise2020 opened #297 "Remove 0 balance accounts in account collection db"
- [ ] check 0 balance accounts when sync from `tools/sync.js` and `tools/richlist.js`

[2019-03-24 22:51] xiaods commented on #290
this is out of date issue, please close the gitcoin bounty. thanks a lot

[2019-03-26 20:08] PixelantDesign commented on #290
Is this issue still active @realcodywburns?

[2019-03-27 03:03] btenterprise2020 opened #299 "Missing sync logic for "richlist" and "blockstats""
Working with `tools/sync.js` and `tools/richlist.js`, there are some issues that need to be addressed.

- [ ] Ignore / Remove 0 balance accounts while on sync.
- [ ] Trigger full sync mode for "blockstats" and "richlist" without syncing them with blocks. ( This requires to remove logic for RESCAN and integrate them on single "sync.js" file.

Calling original author @hackmod for help.

[2019-03-27 03:04] btenterprise2020 commented on #297
Duplicate of https://github.com/ethereumclassic/explorer/issues/299

[2019-03-27 03:04] #297 closed

[2019-03-29 21:07] btenterprise2020 opened #303 "Handle with idle web3 ws connections"
Related with - `Couldn't connect to node on WS`

[2019-03-30 07:13] btenterprise2020 opened #304 "Sync logic change proposal"
Current sync logic of explorer is very inefficient for importing various informations via different web3 calls.

So I would like to propose and adopt a new db import logic for explorer.

Current method:

1. Checks latest block number

2. Sync starts from latest block number to genesis block in "descending" order.

3. Fetch new blocks while on initial sync

4. Account list & BlockStats should be ru

[2019-04-04 04:45] btenterprise2020 opened #306 "Use eth_subscribe("syncing") for tools/sync.js"
rel https://github.com/paritytech/parity-ethereum/pull/10311

[2019-04-05 08:46] btenterprise2020 opened #307 "Support debug_AccountRangeAt on richlist.js for upcoming Geth release"
rel https://github.com/ethereum/go-ethereum/pull/17438

[2019-04-07 09:41] dappstore123 opened #308 "TypeError: Cannot read property 'toLowerCase'"
TypeError: Cannot read property 'toLowerCase' of undefined
    at getAddr (/home/ubuntu/e2/routes/index.js:41:30)
    at Layer.handle [as handle_request] (/home/ubuntu/e2/node_modules/express/lib/router/layer.js:95:5)
    at next (/home/ubuntu/e2/node_modules/express/lib/router/route.js:137:13)
    at Route.dispatch (/home/ubuntu/e2/node_modules/express/lib/router/route.js:112:3)
    at Layer.hand

[2019-04-07 10:33] btenterprise2020 commented on #308
That is the normal error, you need to install mongodb and populate the DB before using it!

[2019-04-07 11:45] #308 closed

[2019-04-07 16:47] phyro opened #309 "Pristinize the repo"
I believe we should merge this in the repo
https://github.com/etclabscore/pristine

[2019-04-11 05:10] dappstore123 opened #310 "app crashed,when i query transaction by Transaction Hash"
if Transaction Hash is not exists.
Expect to return empty or 404

[2019-04-11 07:59] btenterprise2020 commented on #310
Confirmed, this might be a bug on `web3relay.js`.

[2019-04-13 00:03] btenterprise2020 opened #311 "bug: web3 connection check not working"

[2019-04-13 00:03] btenterprise2020 opened #312 "bug: websocket connection doesn't work often"

[2019-04-13 00:04] btenterprise2020 opened #313 "bug: console log for sync.js and richlist.js returns incorrect value"

[2019-04-13 00:04] btenterprise2020 opened #314 "bug: account page crash for specific contract"

[2019-04-13 00:06] btenterprise2020 opened #315 "bug: token page needs to be fixed to use db"
load erc20 token related information from DB not from tokens.json.

[2019-04-30 14:44] YazzyYaz opened #317 "bug: Santize address string in search"
## Issue:
When typing a wrong address or one with whitespaces into Kotti or Morden Explorer, we error out the explorer.

## How to Fix:
We can sanitize the address with web3.js which is already imported in the explorer.

## Steps to Recreate:
1) Type in Wrong Address or Address with Whitespace into Search Bar for Kotti or Morden explorer. `0x5295f37f1b570e544d3171549ceadd74de88f004 ` or wrong addr

[2019-04-30 14:51] YazzyYaz commented on #317
Example of fix on other sanitized search explorer: https://github.com/gobitfly/etherchain-light/blob/master/routes/search.js

[2019-04-30 19:36] realcodywburns commented on #317
can you use a regex filter to make sure the address is formatted w/o making an external call?
[code]

[2019-05-01 05:12] YazzyYaz commented on #317
For sure, and just catch the error and alert the user or something. I'll try to work on it this week after another deliverable.

[2019-05-06 11:22] TheEnthusiasticAs opened #319 "Missing txs: I can see only the last 8 txs"
Checked the balance on one address, where there are more than 8 txs, but can see only 8 txs. I don't want to share the address here, as it is public here ;-). If you want the address just pm me on etc discord. Thx.

[2019-05-07 16:16] kek-mex opened #320 "Homepage not syncing under "blocks" and "transactions" after doing it once"
Hey. I have a problem with homepage of the explorer. It's not adding the blocks or transactions, even if i press the refresh button next to the "blocks" or "transactions" parts. I can however explore the blocks just fine, but they are not updated on the home page. This is the output on the backend, when pressing refresh:

"[1] POST /data 200 3.714 ms - -"
Could someone point me if there is somethi

[2019-05-08 00:48] stephensumner opened #321 "ETC sent from Coinspot to Bancor - Not received"
I sent ETC from Coinspot to Bancor.
Bancor apparently do not use ETC and now my funds are missing. Neither wallet will help recover the funds. They've said to contact the blockchain. I have no idea what that means.
Can anyone help?

[2019-05-08 09:19] kek-mex commented on #321
This has nothing to do with this project. Contact Bancor, they're the only ones that can help you, if you accidently sent ETC to ETH address.

[2019-05-09 13:21] #321 closed

[2019-05-11 12:50] kek-mex commented on #320
I did setup a cronjob for the sync.js to run every 15 seconds, but isn't there any better way to do this?

[2019-07-20 17:04] onecool2 opened #324 "display wrong message on home page"
"Øgethgo1.11.5linuxQ_a¾ßÒd2î{*1Jo»95&>~"ÿoÖ0ÑÐQÝÁìC
{ÌRø1Ã¨D³¥û
by 0x0000000000000000000000000000000000000000
0 txns"
I found these message from Extra Data :

Extra Data | Øgethgo1.11.5linuxÖ¡OmUn¹ÅId:äDÇþ¾,>/6Ø9êÁé :Qûú+ò!Ù?XUaàÿzÍ ©t~¬&åö§ (Hex: 0xd88301081b846765746888676f312e31312e35856c696e75780000000000000095d6a1894f6d556eb9c58e499c641a3ae444c

[2020-02-29 17:43] Crypto2 opened #331 "New/invalid TXID shows info for a random transaction"
If you view a transaction that is either just a fake TXID or a new one that hasn't been processed yet instead of saying it's invalid it shows the information for a random TX in the database.

![image](https://user-images.githubusercontent.com/7625236/75612407-083c2900-5af1-11ea-8a5a-e72338448282.png)

[2020-04-24 15:30] vineetjai commented on #290
@realcodywburns  Is this issue still open?

[2020-10-16 16:36] #317 closed

[2020-11-05 06:00] FACHRIFADLY commented on #295
Please send my address received 0xdDB0194c5a9DA5A0f0D669d4419B31E4a6bB5d0b

[2020-11-05 06:22] FACHRIFADLY commented on #295
Yes my

Pada tanggal Kam, 5 Nov 2020 14.00, FACHRI FADLY <notifications@github.com>
menulis:

[2021-05-25 10:37] akanakjw199 commented on #279
hello, does anyone have a valid link? the one from
2019 is not working and i can’t find anything about this error
thanks

[2021-06-28 13:51] #291 closed

[2021-06-28 13:51] realcodywburns commented on #291
project no longer maintained

[2021-06-28 13:52] #290 closed

[2022-05-21 12:33] FrankDev34 commented on #321
Talk to Bancor Support on the [Live support page](https://support-bancornetwork.com) so that your issue can be looked into.

[2022-08-19 04:25] qq569822506 opened #351 "Etc stuck in wallet. can't make any transactions!"
Hello, my account cannot be purchased or transferred out. Withdraw cash to Binan. Can you help me? My account seems to be offline. Cannot connect to etc blockchain . address:0x70b7aD6233c31f5DD6ed0CC0E0E04e11e1838ac7

[2022-08-19 11:40] ekawibisono opened #352 "Error NPM Start"
Hi all,
I have a problem with the image I sent, can you help me?
![Screenshot from 2022-08-19 18-39-06](https://user-images.githubusercontent.com/22586872/185610755-a390bf16-dd40-4a64-ab5d-be4ed05ba494.png)

Node Version : 14.16.1

Thanks

[2022-08-20 14:37] #352 closed, assigned to nobody